{% set title="Kommentare zum Spieler " ~ user.nick %}

{% extends 'admin/layout/admin.html.twig' %}

{% block breadcrumbs %}
    {{ component('breadcrumbs', { items: [
        { label: 'Spielersuche', url: path('admin.users') },
        { label: user.nick, url: path('admin.users.view', {id: user.id}) },
        { label: 'Kommentare', url: path('admin.users.comments', {id: user.id}) },
    ]}) }}
{% endblock %}

{% block content %}
    <h2>Neuer Kommentar</h2>
    <div class="card">
        <form action="{{ path('admin.users.comments.add', { id: user.id}) }}" method="POST">
            <p>
                <label for="text">Kommentar</label><br>
                <textarea rows="4" cols="70" id="text" name="text" placeholder="Neuer Kommentar"></textarea>
            </p>
            <input type="submit" value="Speichern"/>
        </form>
    </div>

    <h2>Gespeicherte Kommentare</h2>
    {% if comments|length > 0 %}
        <table class="table">
            <colgroup>
                <col/>
                <col style="width:250px;"/>
                <col style="width:50px;"/>
            </colgroup>
            <thead>
            <tr>
                <th>Text</th>
                <th>Verfasst</th>
                <th>Aktionen</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td>{{ BBCodeToHTML(comment.text)|raw }}</td>
                    <td>
                        {{ formatTimestamp(comment.timestamp) }} von {{ comment.adminNick }}
                    </td>
                    <td>
                        <form action="{{ path('admin.users.comments.delete', { id: user.id, comment: comment.id }) }}"
                              method="post" class="form-inline">
                            <button type="submit" onclick="return confirm('Wirklich löschen?')">Löschen</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <twig:alert type="info">Keine Kommentare vorhanden!</twig:alert>
    {% endif %}

{% endblock %}

