{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Spieler</h1>

    <a href="{{ path('admin.users') }}">Spielersuche</a> &raquo;
    <a href="{{ path('admin.users.view', {id: user.id}) }}">{{ user.nick }}</a> &raquo;
    <a href="{{ path('admin.users.comments', {id: user.id}) }}">Kommentare</a>

    <h2>Kommentare zum Spieler {{ user.nick }}</h2>

    <form action="{{ path('admin.users.comments.add', { id: user.id}) }}" method="POST">
        <h3><label for="text">Neuer Kommentar</label></h3>
        <textarea rows="4" cols="70" id="text" name="text"></textarea><br/><br/>
        <input type="submit" value="Speichern"/>
    </form>

    <h3>Gespeicherte Kommentare</h3>
    {% if comments|length > 0 %}
        <table class="tb">
            <tr>
                <th>Text</th>
                <th>Verfasst</th>
                <th>Aktionen</th>
            </tr>
            {% for comment in comments %}
                <tr>
                    <td class="tbldata">{{ BBCodeToHTML(comment.text)|raw }}</td>
                    <td class="tbldata" style="width:200px;">
                        {{ formatTimestamp(comment.timestamp) }} von {{ comment.adminNick }}
                    </td>
                    <td class="tbldata" style="width:50px;">
                        <form action="{{ path('admin.users.comments.delete', { id: user.id, comment: comment.id }) }}"
                              method="post" class="form-inline">
                            <button type="submit" onclick="return confirm('Wirklich löschen?')">Löschen</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        {{ component('admin_message_box', { type: 'info', message: 'Keine Kommentare vorhanden!' }) }}
    {% endif %}

{% endblock %}

