{% extends 'admin/layout/admin.html.twig' %}

{% block content %}

    <h1>Wirtschaft des Spielers {{ user.nick }}</h1>

    {{ component('breadcrumbs', { items: [
        { label: 'Spielersuche', url: path('admin.users') },
        { label: user.nick, url: path('admin.users.view', {id: user.id}) },
        { label: 'Wirtschaft', url: path('admin.users.economy', {id: user.id}) },
    ]}) }}

    <h2>Rohstoff- und Produktionsübersicht</h2>
    <div>
        {% if userPlanets|length > 0 %}
            <h3>Rohstoffe und Bewohner</h3>
            <table class="table">
                <colgroup>
                    <col/>
                    <col style="width: 150px"/>
                    <col style="width: 150px"/>
                    <col style="width: 150px"/>
                    <col style="width: 150px"/>
                    <col style="width: 150px"/>
                    <col style="width: 150px"/>
                </colgroup>
                <thead>
                <tr>
                    <th>Name:</th>
                    <th>{{ resourceNames.metal }}</th>
                    <th>{{ resourceNames.crystal }}</th>
                    <th>{{ resourceNames.plastic }}</th>
                    <th>{{ resourceNames.fuel }}</th>
                    <th>{{ resourceNames.food }}</th>
                    <th>Bewohner</th>
                </tr>
                </thead>
                <tbody>
                {% for planet in userPlanets %}
                    <tr>
                        <td>
                            <a href="{{ path('admin.universe.entity', { id: planet.id }) }}">{{ planet.toString }}</a>
                        </td>
                        {% for x in range(0,5) %}
                            <td
                                    {% if max_res[x] == val_res[planet.id][x] %} class="tbldata3" {% elseif min_res[x] == val_res[planet.id][x] %} class="tbldata2" {% else %} class="tbldata" {% endif %}
                                    {% if val_res[planet.id][x] < val_store[planet.id][x] and val_time[planet.id][x] != 0 %}
                                        {{ tm("Speicher", "Speicher voll in " ~  formatTimespan(val_time[planet.id][x])) }}
                                        {% if val_time[planet.id][x] < 43200 %} style="font-style:italic;" {% endif %}
                                    {% else %}
                                        {{ tm("Speicher", "Speicher voll!") }}
                                        style="font-weight:bold;"
                                    {% endif %}
                            >{{ formatNumber(val_res[planet.id][x]) }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Total</th>
                    {% for x in range(0,5) %}
                        <th>{{ formatNumber(tot_res[x]) }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Durchschnitt</th>
                    {% for x in range(0,5) %}
                        <th>{{ formatNumber(tot_res[x] / userPlanets|length) }}</th>
                    {% endfor %}
                </tr>
                </tfoot>
            </table>

            <p>Legende: Minimum, Maximum,
                <span style="font-style:italic">Speicher bald voll</span>,
                <span style="font-weight:bold">Speicher voll</span>
            </p>

            <h3>Produktion</h3>
            <table class="table">
                <colgroup>
                    <col/>
                    <col style="width: 150px"/>
                    <col style="width: 150px"/>
                    <col style="width: 150px"/>
                    <col style="width: 150px"/>
                    <col style="width: 150px"/>
                    <col style="width: 150px"/>
                </colgroup>
                <thead>
                <tr>
                    <th>Name:</th>
                    <th>{{ resourceNames.metal }}</th>
                    <th>{{ resourceNames.crystal }}</th>
                    <th>{{ resourceNames.plastic }}</th>
                    <th>{{ resourceNames.fuel }}</th>
                    <th>{{ resourceNames.food }}</th>
                    <th>Energie</th>
                </tr>
                </thead>
                <tbody>
                {% for planet in userPlanets %}
                    <tr>
                        <td>
                            <a href="{{ path('admin.universe.entity', { id: planet.id }) }}">{{ planet.toString }}</a>
                        </td>
                        {% for x in range(0,5) %}
                            <td
                                    {% if max_prod[x] == val_prod[planet.id][x] %}
                                        class="tbldata3"
                                    {% elseif min_prod[x] == val_prod[planet.id][x] %}
                                        class="tbldata2"
                                    {% else %}
                                        class="tbldata"
                                    {% endif %}
                            >{{ formatNumber(val_prod[planet.id][x]) }}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Total</th>
                    {% for x in range(0,5) %}
                        <th>{{ formatNumber(tot_prod[x]) }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    <th>Durchschnitt</th>
                    {% for x in range(0,5) %}
                        <th>{{ formatNumber(tot_prod[x] / userPlanets|length) }}</th>
                    {% endfor %}
                </tr>
                </tfoot>
            </table>
        {% else %}
            Der User hat noch keinen Planeten!
        {% endif %}
    </div>

    <h2>Die fünf letzten Aufträge</h2>
    <div>
        <h3>Bauaufträge</h3>
        {% include 'admin/user/user_gamelogs.html.twig' with { 'logs': buildLogs } %}

        <h3>Forschungsaufträge</h3>
        {% include 'admin/user/user_gamelogs.html.twig' with { 'logs': techLogs } %}

        <h3>Schiffsaufträge</h3>
        {% include 'admin/user/user_gamelogs.html.twig' with { 'logs': shipLogs } %}

        <h3>Verteidigungsaufträge</h3>
        {% include 'admin/user/user_gamelogs.html.twig' with { 'logs': defLogs } %}
    </div>
{% endblock %}

