{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <script type="text/javascript">
        function loadAllianceRanks(val) {
            const elem = document.getElementById('user_alliance_id');
            xajax_allianceRankSelector('ars', 'user_alliance_rank_id', val, elem.options[elem.selectedIndex].value);
        }
    </script>

    <h1>Spieler</h1>

    <a href="{{ path('admin.users') }}">Spielersuche</a> &raquo;
    <a href="{{ path('admin.users.view', {id: user.id}) }}">{{ user.nick }}</a> &raquo;
    <a href="{{ path('admin.users.edit', {id: user.id}) }}">Spieler bearbeiten</a>

    <form action="{{ path('admin.users.edit', {id: user.id}) }}" method="post">
        <input type="hidden" id="tabactive" name="tabactive" value=""/>
        <div class="tabs" id="user_edit_tabs">
            <ul>
                <li><a href="#tabs-2">Account</a></li>
                <li><a href="#tabs-3">Daten</a></li>
                <li><a href="#tabs-5">Profil</a></li>
                <li><a href="#tabs-6">Design</a></li>
                <li><a href="#tabs-7">Nachrichten</a></li>
            </ul>

            {# Account #}
            <div id="tabs-2">
                <table class="tbl">
                    <tr>
                        <th><label for="user_nick">Nick</label></th>
                        <td>
                            <input type="text" name="user_nick" id="user_nick" value="{{ user.nick }}" size="35"
                                   maxlength="250"/>
                        </td>
                        <td>Eine Nickänderung ist grundsätzlich nicht erlaubt</td>
                    </tr>
                    <tr>
                        <th><label for="user_email">E-Mail</label></th>
                        <td>
                            <input type="email" name="user_email" id="user_email" value="{{ user.email }}" size="35"
                                   maxlength="250"/>
                        </td>
                        <td>Rundmails gehen an diese Adresse</td>
                    </tr>
                    <tr>
                        <th><label for="user_name">Name</label></th>
                        <td>
                            <input type="text" name="user_name" id="user_name" value="{{ user.name }}" size="35"
                                   maxlength="250"/>
                        </td>
                        <td>Bei Accountübergabe anpassen</td>
                    </tr>
                    <tr>
                        <th><label for="user_email_fix">E-Mail fix</label></th>
                        <td>
                            <input type="email" name="user_email_fix" id="user_email_fix"
                                   value="{{ user.emailFix }}" size="35" maxlength="250"/>
                        </td>
                        <td>Bei Accountübergabe anpassen</td>
                    </tr>
                    <tr>
                        <th><label for="dual_name">Name Dual</label></th>
                        <td>
                            <input type="text" name="dual_name" id="dual_name" value="{{ user.dualName }}" size="35"
                                   maxlength="250"/>
                        </td>
                        <td>Bei Dualänderung anpassen</td>
                    </tr>
                    <tr>
                        <th><label for="dual_email">E-Mail Dual</label></th>
                        <td>
                            <input type="email" name="dual_email" id="dual_email" value="{{ user.dualEmail }}" size="35"
                                   maxlength="250"/>
                        </td>
                        <td>Bei Dualänderung anpassen</td>
                    </tr>
                    <tr>
                        <th><label for="user_password">Passwort</label></th>
                        <td>
                            <input type="text" name="user_password" id="user_password" value="" size="35"
                                   maxlength="250"/>
                        </td>
                        <td>Leerlassen um altes Passwort beizubehalten</td>
                    </tr>
                    <tr>
                        <th><label for="user_password_temp">Temporäres Passwort</label></th>
                        <td>
                            <input type="text" name="user_password_temp" id="user_password_temp"
                                   value="{{ user.passwordTemp }}" size="30" maxlength="30"/>
                        </td>
                        <td>Nur dieses wird verwendet, falls ausgefüllt</td>
                    </tr>
                    <tr>
                        <th>Geist</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'user_ghost', options: { 1: 'Ja', 0: 'Nein' }, value: user.ghost ? 1 : 0 }) }}
                        </td>
                        <td>Legt fest ob der Spieler in der Rangliste ausgeblendet wird</td>
                    </tr>
                    <tr>
                        <th>Chat-Admin</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'user_chatadmin', options: { 1: 'Ja', 0: 'Nein', 2: 'Leiter Team Community', 3: 'Entwickler mit Adminrechten' }, value: user.chatAdmin }) }}
                        </td>
                        <td>Der Spieler hat Adminrechte im Chat und einen silbernen Stern für Chatadmin,
                            einen grünen Stern für Leiter Team Community bzw. einen cyanfarbenen Stern für
                            Entwickler mit Adminrechten (Entwickler mit Adminrechten funktioniert nur, wenn unten
                            'Admin' auf 'Ja' gestellt wird).
                        </td>
                    </tr>
                    <tr>
                        <th>Admin</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'admin', options: { 1: 'Ja', 0: 'Nein', 2: 'Entwickler ohne Adminrechte' }, value: user.admin }) }}
                        </td>
                        <td>
                            Admin: Der Spieler wird in der Raumkarte als Game-Admin markiert.<br/>
                            Entwickler: Der Spieler bekommt einen nutzlosen roten Stern im Chat, keine Markierung
                        </td>
                    </tr>
                    <tr>
                        <th>NPC</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'npc', options: { 1: 'Ja', 0: 'Nein' }, value: user.npc }) }}
                        </td>
                        <td>Spieler wird als NPC markiert</td>
                    </tr>
                    <tr>
                        <th>Sperren</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'ban_enable', options: { 0: 'Nein', 1: 'Ja' }, value: user.blockedFrom > 0 ? 1 : 0, onclick: "this.value == 1 ? $('#ban_options').show() : $('#ban_options').hide()" }) }}
                            {% if isNoLongerBlocked %}<i><b>Diese Sperre ist abgelaufen!</b></i>{% endif %}
                            <table id="ban_options">
                                <tr>
                                    <td><label for="user_blocked_from">Von</label></td>
                                    <td>
                                        {{ component('forms:date_time_input', { name: 'user_blocked_from', value: user.blockedFrom > 0 ? user.blockedFrom : date().timestamp }) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="user_blocked_to">Bis</label></td>
                                    <td>
                                        {{ component('forms:date_time_input', { name: 'user_blocked_to', value: user.blockedFrom > 0 ? user.blockedTo : userBlockedDefaultTime }) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="user_ban_admin_id">Admin</label></td>
                                    <td>
                                        {{ component('forms:select_input', { name: 'user_ban_admin_id', options: adminUserNicks, value: user.banAdminId, emptyValue: 0, emptyLabel: '(niemand)' }) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="user_ban_reason">Grund</label></td>
                                    <td>
                                        <textarea name="user_ban_reason" id="user_ban_reason" cols="45"
                                                  rows="2">{{ user.banReason }}</textarea>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>Der Benutzer kann sich nicht einloggen und erscheint auf dem Pranger</td>
                    </tr>
                    <tr>
                        <th>U-Mod</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'umod_enable', options: { 0: 'Nein', 1: 'Ja' }, value: user.hmodFrom > 0 ? 1 : 0, onclick: "this.value == 1 ? $('#umod_options').show() : $('#umod_options').hide()" }) }}
                            {% if holidayModeExpired %}<i><b>Dieser Urlaubsmodus ist abgelaufen!</b></i>{% endif %}
                            <table id="umod_options">
                                <tr>
                                    <td><label for="user_hmode_from">Von</label></td>
                                    <td>
                                        {{ component('forms:date_time_input', { name: 'user_hmode_from', value: user.hmodFrom > 0 ? user.hmodFrom : date().timestamp }) }}
                                    </td>
                                </tr>
                                <tr>
                                    <td><label for="user_hmode_to">Bis</label></td>
                                    <td>
                                        {{ component('forms:date_time_input', { name: 'user_hmode_to', value: user.hmodTo > 0 ? user.hmodTo : userHolidayModeDefaultTime }) }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>Der Benutzer kann nichts mehr bauen, wird aber auch nicht angegriffen</td>
                    </tr>
                </table>
            </div>

            {# Game-Daten #}
            <div id="tabs-3">
                <table class="tbl">
                    <tr>
                        <th><label for="user_race_id">Rasse</label></th>
                        <td>
                            {{ component('forms:select_input', { name: 'user_race_id', options: raceNames, value: user.raceId, emptyValue: 0, emptyLabel: '(Keine)' }) }}
                        </td>
                    </tr>
                    <tr>
                        <th><label for="user_specialist_id">Spezialist</label></th>
                        <td>
                            {{ component('forms:select_input', { name: 'user_specialist_id', options: specialistNames, value: user.specialistId, emptyValue: 0, emptyLabel: '(Keiner)', onchange: "this.value > 0 ? $('#spt').show() : $('#spt').hide()" }) }}
                            <span id="spt">
                                Bis: {{ component('forms:date_time_input', { name: 'user_specialist_time', value: user.specialistTime > 0 ? user.specialistTime : date().timestamp }) }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="user_alliance_id">Allianz</label></th>
                        <td>
                            {{ component('forms:select_input', { name: 'user_alliance_id', options: allianceNamesWithTags, value: user.allianceId, emptyValue: 0, emptyLabel: '(Keine)', onchange: 'loadAllianceRanks(' ~ user.allianceRankId ~ ')' }) }}
                            Rang: <span id="ars">-</span>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="spyship_count">Spionagesonden für Direktscan</label></th>
                        <td>
                            {% if spyShipNames is not empty %}
                                <input type="text" name="spyship_count" id="spyship_count" maxlength="5" size="5"
                                       value="{{ properties.spyShipCount }}">
                                {{ component('forms:select_input', { name: 'spyship_id', options: spyShipNames, value: properties.spyShipId, emptyValue: 0, emptyLabel: '(keines)' }) }}
                            {% else %}
                                Momentan steht kein Schiff zur Auswahl!
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th><label for="analyzeship_count">Analysatoren für Quickanalyse</label></th>
                        <td>
                            {% if analyzeShipNames is not empty %}
                                <input type="text" name="analyzeship_count" id="analyzeship_count" maxlength="5"
                                       size="5" value="{{ properties.analyzeShipCount }}">
                                {{ component('forms:select_input', { name: 'analyzeship_id', options: analyzeShipNames, value: properties.analyzeShipId, emptyValue: 0, emptyLabel: '(keines)' }) }}
                            {% else %}
                                Momentan steht kein Schiff zur Auswahl!
                            {% endif %}
                    </tr>
                    <tr>
                        <th><label for="user_alliace_shippoints">Verfügbare Allianzschiffteile</label>
                        </th>
                        <td>
                            <input type="text" name="user_alliace_shippoints" id="user_alliace_shippoints"
                                   value="{{ user.allianceShipPoints }}" size="10" maxlength="10"/>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="user_alliace_shippoints_used">Verbaute Allianzschiffteile</label></th>
                        <td>
                            <input type="text" name="user_alliace_shippoints_used" id="user_alliace_shippoints_used"
                                   value="{{ user.allianceShipPointsUsed }}" size="10" maxlength="10"/>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="user_multi_delets">Gelöschte Multis</label></th>
                        <td>
                            <input type="text" name="user_multi_delets" id="user_multi_delets"
                                   value="{{ user.multiDelets }}" size="3"
                                   maxlength="3"/>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="user_sitting_days">Sittertage</label></th>
                        <td>
                            <input type="text" name="user_sitting_days" id="user_sitting_days"
                                   value="{{ user.sittingDays }}" size="3" maxlength="3"/>
                        </td>
                    </tr>
                    <tr>
                        <th>Hauptplanet geändert</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'user_changed_main_planet', options: { 1: 'Ja', 0: 'Nein' }, value: user.userChangedMainPlanet ? 1 : 0 }) }}
                        </td>
                    </tr>
                </table>
                <script type="text/javascript">
                    loadAllianceRanks({{ user.allianceRankId }});
                </script>
            </div>

            {# Profil #}
            <div id="tabs-5">
                <table class="tbl">
                    <tr>
                        <th><label for="user_profile_text">Profil-Text</label></th>
                        <td>
                            <textarea name="user_profile_text" id="user_profile_text" cols="60"
                                      rows="8">{{ user.profileText }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Profil-Bild</th>
                        <td>
                            {% if user.profileImage %}
                                {% if user.profileImageCheck %}
                                    <input type="checkbox" value="0" name="user_profile_img_check"
                                           id="user_profile_img_check">
                                    <label for="user_profile_img_check">Bild-Verifikation bestätigen</label><br/>
                                {% endif %}
                                <img src="{{ user.getProfileImageUrl }}" alt="Profil"/><br/>
                                <input type="checkbox" value="1" name="profile_img_del" id="profile_img_del">
                                <label for="profile_img_del">Bild löschen</label><br/>
                            {% else %}
                                <i>Keines</i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th><label for="user_signature">Board-Signatur</label></th>
                        <td>
                            <textarea name="user_signature" id="user_signature" cols="60"
                                      rows="8">{{ user.signature }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Avatarpfad</th>
                        <td>
                            {% if user.avatar %}
                                <img src="{{ user.getAvatarUrl }}" alt="Profil"/><br/>
                                <input type="checkbox" value="1" name="avatar_img_del" id="avatar_img_del">
                                <label for="avatar_img_del">Bild löschen</label><br/>
                            {% else %}
                                <i>Keines</i>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th><label for="user_profile_board_url">Öffentliches Foren-Profil</label></th>
                        <td>
                            <input type="url" name="user_profile_board_url" id="user_profile_board_url" maxlength="200"
                                   size="50" value="{{ user.profileBoardUrl }}">
                        </td>
                    </tr>
                </table>
            </div>

            {# Design #}
            <div id="tabs-6">
                <table class="tbl">
                    <tr>
                        <th><label for="css_style">Design</label></th>
                        <td>
                            <input type="text" name="css_style" id="css_style" size="45" maxlength="250"
                                   value="{{ properties.cssStyle }}">
                            &nbsp; <input type="button" onclick="document.getElementById('css_style').value =
                            document.getElementById('designSelector').options[document.getElementById('designSelector').selectedIndex].value"
                                          value="&lt;&lt;"/> &nbsp;
                            {{ component('forms:select_input', { name: 'designSelector', options: designNames, value: properties.cssStyle, emptyValue: '', emptyLabel: '(Bitte wählen)' }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Planetenkreisgrösse</th>
                        <td class="tbldata" colspan="4">
                            {{ component('forms:select_input', { name: 'planet_circle_width', options: planetCircleOptions, value: properties.planetCircleWidth, keysAsLabel: true }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Schiff/Def Ansicht</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'item_show', options: { 'full': 'Volle Ansicht', 'small': 'Einfache Ansicht' }, value: properties.itemShow }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Bildfilter</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'image_filter', options: { 1: 'An', 0: 'Aus' }, value: properties.imageFilter }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Vertausche Buttons in Hafen-Schiffsauswahl</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'havenships_buttons', options: { 1: 'Aktiviert', 0: 'Deaktiviert' }, value: properties.havenShipsButtons }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Werbung anzeigen</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'show_adds', options: { 1: 'Aktiviert', 0: 'Deaktiviert' }, value: properties.showAdds }) }}
                        </td>
                    </tr>
                </table>
            </div>

            {# Messages #}
            <div id="tabs-7">
                <table class="tbl">
                    <tr>
                        <th><label for="msgsignature">Nachrichten-Signatur</label></th>
                        <td>
                            <textarea name="msgsignature" id="msgsignature" cols="60"
                                      rows="8">{{ properties.msgSignature }}</textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>Nachrichtenvorschau (Neue/Archiv)</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'msg_preview', options: { 1: 'Aktiviert', 0: 'Deaktiviert' }, value: properties.msgPreview }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Nachrichtenvorschau (Erstellen)</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'msgcreation_preview', options: { 1: 'Aktiviert', 0: 'Deaktiviert' }, value: properties.msgCreationPreview }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Blinkendes Nachrichtensymbol</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'msg_blink', options: { 1: 'Aktiviert', 0: 'Deaktiviert' }, value: properties.msgBlink }) }}
                        </td>
                    </tr>
                    <tr>
                        <th>Text bei Antwort/Weiterleiten kopieren</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'msg_copy', options: { 1: 'Aktiviert', 0: 'Deaktiviert' }, value: properties.msgCopy }) }}
                    </tr>

                    <tr>
                        <th>Nachricht bei Transport-/Spionagerückkehr</th>
                        <td>
                            {{ component('forms:radio_button_list', { name: 'fleet_rtn_msg', options: { 1: 'Aktiviert', 0: 'Deaktiviert' }, value: properties.fleetRtnMsg }) }}
                        </td>
                    </tr>
                </table>
            </div>

        </div>

        <p>
            <input type="submit" name="save" value="Änderungen &uuml;bernehmen" class="positive"/> &nbsp;
            {% if user.deleted != 0 %}
                <input type="submit" name="canceldelete" value="Löschantrag aufheben" class="userDeletedColor"/> &nbsp;
            {% else %}
                <input type="submit" name="requestdelete" value="Löschantrag erteilen" class="userDeletedColor"/>&nbsp;
            {% endif %}
            <input type="submit" name="delete_user" value="User l&ouml;schen" class="remove"
                   onclick="return confirm('Soll dieser User endgültig gelöscht werden?');">
        </p>

    </form>

    <script>
        $(function () {
            {% if user.blockedFrom == 0 %}
            $('#ban_options').hide();
            {% endif %}

            {% if user.hmodFrom == 0 %}
            $('#umod_options').hide();
            {% endif %}

            {% if user.specialistId == 0 %}
            $('#spt').hide();
            {% endif %}
        });
    </script>
{% endblock %}

