{% set title="Spieler IP-Adressen" %}

{% extends 'admin/layout/admin.html.twig' %}

{% block breadcrumbs %}
    {{ component('breadcrumbs', { items: [
        { label: 'IP Suche', url: path('admin.users.ips') },
        { label: ip, url: path('admin.users.ips')~'?ip='~ ip },
    ]}) }}
{% endblock %}

{% block content %}

    <h2>User welche momentan unter der Adresse {{ ip }} online sind</h2>
    {% if sessions is not empty %}
        <table class="table">
            <thead>
            <tr>
                <th>Nick</th>
                <th>Datum/Zeit</th>
                <th>Match</th>
                <th>Client</th>
                <th>Eingetragene Multis</th>
                <th>Gesittet von</th>
            </tr>
            </thead>
            <tbody>
            {% for session in sessions %}
                <tr>
                    <td>
                        <a href="?page=$page&amp;sub=$sub&amp;user={{ session.userId }}">{{ users[session.userId]|default('-') }}</a>
                    </td>
                    <td>{{ formatTimestamp(session.timeAction) }}</td>
                    <td>{{ session.ipAddr }} / {{ ipGetHost(session.ipAddr) }}</td>
                    <td title="{{ session.userAgent }}">{{ browser(session.userAgent).toString() }}</td>
                    <td>
                        {% for multi in multiEntries[session.userId]|default([]) %}
                        <span title="{{ multi.reason }}">
                            <a href="{{ path('admin.users.view', {id: multi.multiUserId}) }}">{{ multi.multiUserNick }}</a>
                            </span>{% if not loop.last %}, {% endif %}
                        {% else %}
                            -
                        {% endfor %}
                    </td>
                    <td>
                        {% if sittingEntries[session.userId] is defined %}
                            {{ sittingEntries[session.userId].sitterNick }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <twig:alert type="info">Nichts gefunden.</twig:alert>
    {% endif %}

    <h2>User welche schon mal unter der Adresse {{ ip }} online waren</h2>
    {% if sessionLogs is not empty %}
        <table class="table">
            <thead>
            <tr>
                <th>Nick</th>
                <th>Datum/Zeit</th>
                <th>IP</th>
                <th>Client</th>
                <th>Eingetragene Multis</th>
                <th>Gesittet von</th>
            </tr>
            </thead>
            <tbody>
            {% for log in sessionLogs %}
                <tr>
                    <td>
                        <a href="?page=$page&amp;sub=$sub&amp;user={{ log.userId }}">{{ users[log.userId]|default('-') }}</a>
                    </td>
                    <td>{{ formatTimestamp(log.timeAction) }}</td>
                    <td>{{ log.ipAddr }} / {{ ipGetHost(log.ipAddr) }}</td>
                    <td title="{{ log.userAgent }}">{{ browser(log.userAgent).toString() }}</td>
                    <td>
                        {% for multi in multiEntries[log.userId]|default([]) %}
                        <span title="{{ multi.reason }}">
                            <a href="{{ path('admin.users.view', {id: multi.multiUserId}) }}">{{ multi.multiUserNick }}</a>
                            </span>{% if not loop.last %}, {% endif %}
                        {% else %}
                            -
                        {% endfor %}
                    </td>
                    <td>
                        {% if sittingEntries[log.userId] is defined %}
                            {{ sittingEntries[log.userId].sitterNick }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <twig:alert type="info">Nichts gefunden.</twig:alert>
    {% endif %}

    <h2>Fehlgeschlagene Logins mit der Adresse {{ ip }}</h2>
    {% if loginFailures is not empty %}
        <table class="table">
            <thead>
            <tr>
                <th>Nick</th>
                <th>Datum/Zeit</th>
                <th>IP</th>
                <th>Client</th>
                <th>Eingetragene Multis</th>
                <th>Gesittet von</th>
            </tr>
            </thead>
            <tbody>
            {% for failure in loginFailures %}
                <tr>
                    <td>
                        <a href="?page=user&amp;sub=$sub&amp;user={{ failure.userId }}">{{ failure.userNick }}</a>
                    </td>
                    <td>{{ formatTimestamp(failure.time) }}</td>
                    <td>{{ failure.ip }} / {{ ipGetHost(failure.ip) }}</td>
                    <td title="{{ failure.client }}">{{ browser(failure.client).toString() }}</td>
                    <td>
                        {% for multi in multiEntries[failure.userId]|default([]) %}
                        <span title="{{ multi.reason }}">
                            <a href="{{ path('admin.users.view', {id: multi.multiUserId}) }}">{{ multi.multiUserNick }}</a>
                            </span>{% if not loop.last %}, {% endif %}
                        {% else %}
                            -
                        {% endfor %}
                    </td>
                    <td>
                        {% if sittingEntries[failure.userId] is defined %}
                            {{ sittingEntries[failure.userId].sitterNick }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <twig:alert type="info">Nichts gefunden.</twig:alert>
    {% endif %}

{% endblock %}
