{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Spieler</h1>
    <h2>IP Suche</h2>

    <h3>User welche momentan unter dieser Adresse online sind</h3>
    <table class="full-width">
        <tr>
            <th>Nick</th>
            <th>Datum/Zeit</th>
            <th>Match</th>
            <th>Client</th>
            <th>Eingetragene Multis</th>
            <th>Gesittet von</th>
        </tr>
        {% for session in sessions %}
            <tr>
                <td>
                    <a href="?page=$page&amp;sub=$sub&amp;user={{ session.userId }}">{{ users[session.userId]|default('-') }}</a>
                </td>
                <td>{{ formatTimestamp(session.timeAction) }}</td>
                <td>{{ session.ipAddr }} / {{ ipGetHost(session.ipAddr) }}</td>
                <td title="{{ session.userAgent }}">{{ browser(session.userAgent).toString() }}</td>
                <td>
                    {% for multi in multiEntries[session.userId]|default([]) %}
                    <span title="{{ multi.reason }}">
                        <a href="{{ path('admin.users.view', {id: multi.multiUserId}) }}">{{ multi.multiUserNick }}</a>
                        </span>{% if not loop.last %}, {% endif %}
                    {% else %}
                        -
                    {% endfor %}
                </td>
                <td>
                    {% if sittingEntries[session.userId] is defined %}
                        {{ sittingEntries[session.userId].sitterNick }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="999"><i>Nichts gefunden</i></td>
            </tr>
        {% endfor %}
    </table>

    <h3>User welche schon mal unter dieser Adresse online waren</h3>
    <table class="full-width">
        <tr>
            <th>Nick</th>
            <th>Datum/Zeit</th>
            <th>IP</th>
            <th>Client</th>
            <th>Eingetragene Multis</th>
            <th>Gesittet von</th>
        </tr>
        {% for log in sessionLogs %}
            <tr>
                <td>
                    <a href="?page=$page&amp;sub=$sub&amp;user={{ log.userId }}">{{ users[log.userId]|default('-') }}</a>
                </td>
                <td>{{ formatTimestamp(log.timeAction) }}</td>
                <td>{{ log.ipAddr }} / {{ ipGetHost(log.ipAddr) }}</td>
                <td title="{{ log.userAgent }}">{{ browser(log.userAgent).toString() }}</td>
                <td>
                    {% for multi in multiEntries[log.userId]|default([]) %}
                    <span title="{{ multi.reason }}">
                        <a href="{{ path('admin.users.view', {id: multi.multiUserId}) }}">{{ multi.multiUserNick }}</a>
                        </span>{% if not loop.last %}, {% endif %}
                    {% else %}
                        -
                    {% endfor %}
                </td>
                <td>
                    {% if sittingEntries[log.userId] is defined %}
                        {{ sittingEntries[log.userId].sitterNick }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="999"><i>Nichts gefunden</i></td>
            </tr>
        {% endfor %}
    </table>

    <h3>Fehlgeschlagene Logins unter dieser Adresse</h3>
    <table class="full-width">
        <tr>
            <th>Nick</th>
            <th>Datum/Zeit</th>
            <th>IP</th>
            <th>Client</th>
            <th>Eingetragene Multis</th>
            <th>Gesittet von</th>
        </tr>
        {% for failure in loginFailures %}
            <tr>
                <td>
                    <a href="?page=user&amp;sub=$sub&amp;user={{ failure.userId }}">{{ failure.userNick }}</a>
                </td>
                <td>{{ formatTimestamp(failure.time) }}</td>
                <td>{{ failure.ip }} / {{ ipGetHost(failure.ip) }}</td>
                <td title="{{ failure.client }}">{{ browser(failure.client).toString() }}</td>
                <td>
                    {% for multi in multiEntries[failure.userId]|default([]) %}
                    <span title="{{ multi.reason }}">
                        <a href="{{ path('admin.users.view', {id: multi.multiUserId}) }}">{{ multi.multiUserNick }}</a>
                        </span>{% if not loop.last %}, {% endif %}
                    {% else %}
                        -
                    {% endfor %}
                </td>
                <td>
                    {% if sittingEntries[failure.userId] is defined %}
                        {{ sittingEntries[failure.userId].sitterNick }}
                    {% else %}
                        -
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="999"><i>Keine fehlgeschlagenen Logins</i></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
