{% extends 'admin/layout/admin.html.twig' %}

{% block content %}

    <h1>Logs des Spielers {{ user.nick }}</h1>

    {{ component('breadcrumbs', { items: [
        { label: 'Spielersuche', url: path('admin.users') },
        { label: user.nick, url: path('admin.users.view', {id: user.id}) },
        { label: 'Logs', url: path('admin.users.logs', {id: user.id}) },
    ]}) }}

    <h2>Neuer Logeintrag</h2>
    <div class="card">
        <form action="{{ path('admin.users.logs.add', { id: user.id}) }}" method="POST">
            <p>
                <label for="text">Inhalt</label><br>
                <textarea rows="4" cols="70" name="text" id="text"></textarea>
            </p>
            <input type="submit" value="Speichern"/>
        </form>
    </div>

    <h3>Letzte Logeinträge</h3>
    {% if logs|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Nachricht</th>
                <th>Datum</th>
                <th>IP</th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ BBCodeToHTML(log.message)|raw }}</td>
                    <td>{{ formatTimestamp(log.timestamp) }}</td>
                    <td>
                        <a href="{{ path('admin.users.ips') }}?ip={{ log.host }}">{{ log.host }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ component('admin_message_box', { type: 'info', message: 'Keine Logs vorhanden!' }) }}
    {% endif %}


{% endblock %}

