{% set title="Logs des Spielers " ~ user.nick %}

{% extends 'admin/layout/admin.html.twig' %}

{% block breadcrumbs %}
    {{ component('breadcrumbs', { items: [
        { label: 'Spielersuche', url: path('admin.users') },
        { label: user.nick, url: path('admin.users.view', {id: user.id}) },
        { label: 'Logs', url: path('admin.users.logs', {id: user.id}) },
    ]}) }}
{% endblock %}


{% block content %}
    <h2>Neuer Logeintrag</h2>
    <div class="card">
        {{ form(form) }}
    </div>

    <h2>Letzte Logeinträge</h2>
    {% if logs|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Nachricht</th>
                <th>Datum</th>
                <th>IP</th>
            </tr>
            </thead>
            <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ BBCodeToHTML(log.message)|raw }}</td>
                    <td>{{ formatTimestamp(log.timestamp) }}</td>
                    <td>
                        <a href="{{ path('admin.users.ips') }}?ip={{ log.host }}">{{ log.host }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <twig:alert type="info">Keine Logs vorhanden!</twig:alert>
    {% endif %}


{% endblock %}

