{% set title="Nachrichten des Spielers " ~ user.nick %}

{% extends 'admin/layout/admin.html.twig' %}

{% block breadcrumbs %}
    {{ component('breadcrumbs', { items: [
        { label: 'Spielersuche', url: path('admin.users') },
        { label: user.nick, url: path('admin.users.view', {id: user.id}) },
        { label: 'Nachrichten', url: path('admin.users.messages', {id: user.id}) },
    ]}) }}
{% endblock %}

{% block content %}
    <h2>Nachricht senden</h2>
    <div class="card">
        <form action="{{ path('admin.users.messages.send', { id: user.id}) }}" method="POST">
            <p>
                <label for="subject">Titel:</label><br>
                <input type="text" name="subject" id="subject" maxlength="200" size="50"/>
            </p>
            <p>
                <label for="message">Text:</label><br>
                <textarea name="message" id="message" cols="60" rows="4"></textarea>
            </p>
            <input type="submit" value="Senden"/>
        </form>
    </div>

    <h2>Letzte Nachrichten</h2>
    {% if messages|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Sender</th>
                <th>Titel</th>
                <th>Text</th>
                <th>Gelesen</th>
                <th>Optionen</th>
            </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ formatTimestamp(message.timestamp) }}</td>
                    <td>
                        {% if message.userFrom > 0 %}
                            {{ component('admin_user_info_link', {id: message.userFrom}) }}
                        {% else %}
                            System
                        {% endif %}
                    </td>
                    <td>{{ message.subject }}</td>
                    <td>{{ BBCodeToHTML(message.text)|raw }}</td>
                    <td>{{ message.read ? "Ja" : "Nein" }}</td>
                    <td><a href="{{ path('admin.messages') }}#message-{{ message.id }}">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p><em>Es werden maximal {{ limit }} Nachrichten angezeigt.</em></p>
    {% else %}
        <twig:alert type="info">Keine Nachrichten vorhanden!</twig:alert>
    {% endif %}

{% endblock %}

