{% extends 'admin/layout/admin.html.twig' %}

{% block content %}

    <h1>Punkteverlauf des Spielers {{ user.nick }}</h1>

    {{ component('breadcrumbs', { items: [
        { label: 'Spielersuche', url: path('admin.users') },
        { label: user.nick, url: path('admin.users.view', {id: user.id}) },
        { label: 'Punkteverlauf', url: path('admin.users.pointProgression', {id: user.id}) },
    ]}) }}

    <p>
        <img src="{{ path('admin.images.stats', { user: user.id }) }}?limit={{ limit }}&start={{ start }}&end={{ end }}"
             width="600" height="400" alt="Diagramm"/>
    </p>
    <form action="{{ path('admin.users.pointProgression', {id: user.id}) }}" method="GET" id="rangeForm">
        <p>
            Zeige maximal
            {{ component('forms:select_input', { name: 'limit', options: limitOptions, value: limit, keysAsLabel: true, onchange: "document.querySelector('#rangeForm').submit()" }) }}
            Datensätze
            von {{ component('forms:date_time_input', { name: 'start', value: start, max: iso8601date(end), onchange: "document.querySelector('#rangeForm').submit()" }) }}
            bis{{ component('forms:date_time_input', { name: 'end', value: end, min: iso8601date(start), max: iso8601date(date().timestamp), onchange: "document.querySelector('#rangeForm').submit()" }) }}
        </p>
    </form>

    {% if userPoints|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Datum</th>
                <th>Zeit</th>
                <th>Punkte</th>
                <th>Gebäude</th>
                <th>Forschung</th>
                <th>Flotte</th>
            </tr>
            </thead>
            <tbody>
            {% for points in userPoints %}
                <tr>
                    <td>{{ points.timestamp|date("d.m.Y") }}</td>
                    <td>{{ points.timestamp|date("H:i") }}</td>
                    <td>{{ formatNumber(points.points) }}</td>
                    <td>{{ formatNumber(points.buildingPoints) }}</td>
                    <td>{{ formatNumber(points.techPoints) }}</td>
                    <td>{{ formatNumber(points.shipPoints) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ component('admin_message_box', { type: 'info', message: 'Keine Punkte vorhanden!' }) }}
    {% endif %}

{% endblock %}

