{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Spieler</h1>

    <a href="{{ path('admin.users') }}">Spielersuche</a> &raquo;
    <a href="{{ path('admin.users.edit', {id: user.id}) }}">{{ user.nick }}</a> &raquo;
    <a href="{{ path('admin.users.sitting_multi', {id: user.id}) }}">Sitting & Multis</a>

    <h2>Sitting & Multis des Spielers {{ user.nick }}</h2>

    {% if multiEntries|length > 0 %}
        <h3>Eingetragene Multis</h3>
        <table class="tbl">
            <tr>
                <th>Name</th>
                <th>Begründung</th>
                <th>Eingetragen</th>
                <th>Löschen</th>
            </tr>
            {% for multi in multiEntries %}
                <tr>
                    <td>
                        <a href="{{ path('admin.users.edit', { id: multi.multiUserId }) }}">{{ multi.multiUserNick }}</a>
                        <input type="hidden" name="multi_nick[{{ multi.multiUserId }}]"
                               value="{{ multi.multiUserId }}" readonly="readonly">
                    </td>
                    <td>
                        {{ multi.reason }}
                    </td>
                    <td>
                        {{ multi.timestamp > 0 ? formatTimestamp(multi.timestamp) : '-' }}
                    </td>
                    <td>
                        <form action="{{ path('admin.users.deleteMulti', {id: user.id, multi: multi.multiUserId }) }}"
                              method="post">
                            <button type="submit" class="button">Löschen</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if deletedMultiEntries|length > 0 %}
        <h3>Gelöschte Multis</h3>
        <table class="tbl">
            <tr>
                <th>Name</th>
                <th>Begründung</th>
                <th>Gelöscht</th>
            </tr>
            {% for multi in deletedMultiEntries %}
                <tr>
                    <td>
                        <a href="{{ path('admin.users.edit', { id: multi.multiUserId }) }}">{{ multi.multiUserNick }}</a>
                    </td>
                    <td>
                        {{ multi.reason }}
                    </td>
                    <td>
                        {{ multi.timestamp > 0 ? formatTimestamp(multi.timestamp) : '-' }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h3>Multi einrichten</h3>
    <form action="{{ path('admin.users.addMulti', {id: user.id}) }}" method="post">
        <table class="tbl">
            <tr>
                <td><label for="new_multi">User</label></td>
                <td>
                    <input type="text" name="new_multi" id="new_multi" maxlength="20" size="20"
                           autocomplete="off" placeholder="Usernick">
                </td>
            </tr>
            <tr>
                <td><label for="multi_reason">Beziehung</label></td>
                <td>
                    <input type="text" name="multi_reason" id="multi_reason" maxlength="20" size="20">
                </td>
            </tr>
        </table>
        <br>
        <button type="submit">Speichern</button>
    </form>
    
    {% set used_days = 0 %}
    {% if sittedEntries|length > 0 %}
        <h3>Wurde gesittet</h3>
        <table class="tbl">
            <tr>
                <th>Sitter</th>
                <th>Start</th>
                <th>Ende</th>
                <th>Abbrechen</th>
            </tr>
            {% for sittedEntry in sittedEntries %}
                {% set used_days = used_days + ((sittedEntry.dateTo - sittedEntry.dateFrom) / 86400) %}
                <tr>
                    <td>
                        <a href="{{ path('admin.users.edit', { id: sittedEntry.sitterId }) }}">{{ sittedEntry.sitterNick }}</a>
                    </td>
                    <td>
                        {{ formatTimestamp(sittedEntry.dateFrom) }}
                    </td>
                    <td>
                        {{ formatTimestamp(sittedEntry.dateTo) }}
                    </td>
                    {% if sittedEntry.dateTo > date().timestamp %}
                        <td>
                            <form action="{{ path('admin.users.deleteSitting', {id: user.id, sitter: sittedEntry.id }) }}"
                                  method="post">
                                <button type="submit" class="button">Löschen</button>
                            </form>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    {% if sittingEntries|length > 0 %}
        <h3>Hat gesittet</h3>
        <table class="tbl">
            <tr>
                <th>Gesitteter User</th>
                <th>Start</th>
                <th>Ende</th>
            </tr>
            {% for sittingEntry in sittingEntries %}
                <tr>
                    <td>
                        <a href="{{ path('admin.users.edit', { id: sittingEntry.sitterId }) }}">{{ sittingEntry.sitterNick }}</a>
                    </td>
                    <td>
                        {{ formatTimestamp(sittingEntry.dateTo) }}
                    </td>
                    <td>
                        {{ formatTimestamp(sittingEntry.dateTo) }}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

    <h3>Sitting einrichten</h3>
    <form action="{{ path('admin.users.addSitting', {id: user.id}) }}" method="post">
        <table class="tbl">
            <tr>
                <td>Übrige Tage</td>
                <td>
                    {{ (user.sittingDays - used_days)|round(0, 'floor') }}
                </td>
            </tr>
            <tr>
                <td><label for="sitter_nick">Sitter</label></td>
                <td>
                    <input type="text" maxlength="20" size="20" name="sitter_nick" id="sitter_nick">
                </td>
            </tr>
            <tr>
                <td><label for="sitter_password1">Passwort</label></td>
                <td>
                    <input type="text" maxlength="20" size="20" name="sitter_password1" id="sitter_password1">
                </td>
            </tr>
            <tr>
                <td><label for="sitter_password2">Passwort wiederholen</label></td>
                <td>
                    <input type="text" maxlength="20" size="20" name="sitter_password2" id="sitter_password2">
                </td>
            </tr>
            <tr>
                <td><label for="sitting_time_from">Von</label></td>
                <td>
                    {{ component('forms:date_time_input', { name: 'sitting_time_from', value: date().timestamp, min: iso8601date(date().timestamp) }) }}
                </td>
            </tr>
            <tr>
                <td><label for="sitting_time_to">Bis</label></td>
                <td>
                    {{ component('forms:date_time_input', { name: 'sitting_time_to', value: date().timestamp, min: iso8601date(date().timestamp) }) }}
                </td>
            </tr>
        </table>
        <br>
        <button type="submit">Speichern</button>
    </form>

{% endblock %}

