{% set title="Laufende Sitteraccounts" %}

{% extends 'admin/layout/admin.html.twig' %}

{% block content %}

    {% if entries is not empty %}
        <table class="table">
            <thead>
            <tr>
                <th>User</th>
                <th>Sitter</th>
                <th>Von</th>
                <th>Bis</th>
            </tr>
            </thead>
            <tbody>
            {% for entry in entries %}
                <tr>
                    <td><a href="{{ path('admin.users.view', {id: entry.userId}) }}">{{ entry.userNick }}</a></td>
                    <td><a href="{{ path('admin.users.view', {id: entry.sitterId}) }}">{{ entry.sitterNick }}</a></td>
                    <td>{{ formatTimestamp(entry.dateFrom) }}</td>
                    <td>{{ formatTimestamp(entry.dateTo) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <twig:alert>Keine Datensätze vorhanden!</twig:alert>
    {% endif %}

{% endblock %}
