{% extends 'admin/layout/admin.html.twig' %}

{% block content %}

    <h1>Sitting des Spielers {{ user.nick }}</h1>

    {{ component('breadcrumbs', { items: [
        { label: 'Spielersuche', url: path('admin.users') },
        { label: user.nick, url: path('admin.users.view', {id: user.id}) },
        { label: 'Sitting', url: path('admin.users.user_sitting', {id: user.id}) },
    ]}) }}

    {% if sittedEntries|length > 0 %}
        <h2>Wurde gesittet</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Sitter</th>
                <th>Start</th>
                <th>Ende</th>
                <th>Abbrechen</th>
            </tr>
            </thead>
            <tbody>
            {% for sittedEntry in sittedEntries %}
                <tr>
                    <td>
                        <a href="{{ path('admin.users.view', { id: sittedEntry.sitterId }) }}">{{ sittedEntry.sitterNick }}</a>
                    </td>
                    <td>
                        {{ formatTimestamp(sittedEntry.dateFrom) }}
                    </td>
                    <td>
                        {{ formatTimestamp(sittedEntry.dateTo) }}
                    </td>
                    {% if sittedEntry.dateTo > date().timestamp %}
                        <td>
                            <form action="{{ path('admin.users.deleteSitting', {id: user.id, sitter: sittedEntry.id }) }}"
                                  method="post" class="form-inline">
                                <button type="submit" class="button">Löschen</button>
                            </form>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if sittingEntries|length > 0 %}
        <h2>Hat gesittet</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Gesitteter User</th>
                <th>Start</th>
                <th>Ende</th>
            </tr>
            </thead>
            <tbody>
            {% for sittingEntry in sittingEntries %}
                <tr>
                    <td>
                        <a href="{{ path('admin.users.view', { id: sittingEntry.userId }) }}">{{ sittingEntry.userNick }}</a>
                    </td>
                    <td>
                        {{ formatTimestamp(sittingEntry.dateTo) }}
                    </td>
                    <td>
                        {{ formatTimestamp(sittingEntry.dateTo) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2>Sitting einrichten</h2>
    <form action="{{ path('admin.users.addSitting', {id: user.id}) }}" method="post">
        <table class="tbl">
            <tr>
                <td>Übrige Tage</td>
                <td>
                    {{ availableDays }}
                </td>
            </tr>
            <tr>
                <td><label for="sitter_nick">Sitter</label></td>
                <td>
                    <input type="text" maxlength="20" size="20" name="sitter_nick" id="sitter_nick">
                </td>
            </tr>
            <tr>
                <td><label for="sitter_password1">Passwort</label></td>
                <td>
                    <input type="text" maxlength="20" size="20" name="sitter_password1" id="sitter_password1">
                </td>
            </tr>
            <tr>
                <td><label for="sitter_password2">Passwort wiederholen</label></td>
                <td>
                    <input type="text" maxlength="20" size="20" name="sitter_password2" id="sitter_password2">
                </td>
            </tr>
            <tr>
                <td><label for="sitting_time_from">Von</label></td>
                <td>
                    <twig:forms:date_time_input name="sitting_time_from" :value="date().timestamp"
                                                :min="iso8601date(date().timestamp)"/>
                </td>
            </tr>
            <tr>
                <td><label for="sitting_time_to">Bis</label></td>
                <td>
                    <twig:forms:date_time_input name="sitting_time_to" :value="date().timestamp"
                                                :min="iso8601date(date().timestamp)"/>
                </td>
            </tr>
        </table>
        <br>
        <button type="submit">Speichern</button>
    </form>

{% endblock %}

