{% set title="Loginfehler des Spielers " ~ user.nick %}

{% extends 'admin/layout/admin.html.twig' %}

{% block breadcrumbs %}
    {{ component('breadcrumbs', { items: [
        { label: 'Spielersuche', url: path('admin.users') },
        { label: user.nick, url: path('admin.users.view', {id: user.id}) },
        { label: 'Loginfehler', url: path('admin.users.user_login_failures', {id: user.id}) },
    ]}) }}
{% endblock %}

{% block content %}

    {% if failures|length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Zeit</th>
                <th>IP-Adresse</th>
                <th>Hostname</th>
                <th>Client</th>
            </tr>
            </thead>
            <tbody>
            {% for failure in failures %}
                <tr>
                    <td>{{ formatTimestamp(failure.time) }}</td>
                    <td>
                        <a href="{{ path('admin.users.ips') }}?host={{ failure.ip }}">{{ failure.ip }}</a>
                    </td>
                    <td>
                        <a href="{{ path('admin.users.ips') }}?host={{ failureHosts[loop.index0] }}">{{ failureHosts[loop.index0] }}</a>
                    </td>
                    <td>{{ failure.client }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <twig:alert type="info">Keine fehlgeschlagenen Logins!</twig:alert>
    {% endif %}

{% endblock %}
