<div style="position:relative; left:0; top:0; width:{{ absolute_width }}px; height: {{ absolute_height }}px; vertical-align:middle; margin: 0 auto">
    <div style="position:relative; left:0; top:0; width:{{ d_planets }}px; height:{{ d_planets }}px; text-align:center; vertical-align:middle;" id="planet_circle_inner_container">
        {{ planets|raw }}
        <table style="text-align:center; vertical-align:middle;margin: 0 auto">
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td class="PlaniTextCenterPlanetname" id="planet_info_name" colspan="3" style="text-align:center">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td class="PlaniTextCenterBeschreibung">
                    <div id="planet_info_text_building">&nbsp;</div>
                </td>
                <td >&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_building_name">&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_building_time">&nbsp;</td></tr>
            <tr>
                <td class="PlaniTextCenterBeschreibung"><div id="planet_info_text_shipyard">&nbsp;</div></td>
                <td>&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_shipyard_name">&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_shipyard_time">&nbsp;</td>
            </tr>
            <tr>
                <td class="PlaniTextCenterBeschreibung"><div id="planet_info_text_defense">&nbsp;</div></td>
                <td>&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_defense_name">&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_defense_time">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="3" class="PlaniTextCenterRessourcen" id="planet_info_text_res">&nbsp;</td>
            </tr>
            <tr>
                <td id="planet_info_text_res_metal" >&nbsp;</td>
                <td>&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_res_metal">&nbsp;</td>
            </tr>
            <tr>
                <td id="planet_info_text_res_crystal" >&nbsp;</td>
                <td >&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_res_crystal">&nbsp;</td>
            </tr>
            <tr>
                <td id="planet_info_text_res_plastic" >&nbsp;</td>
                <td>&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_res_plastic">&nbsp;</td>
            </tr>
            <tr>
                <td id="planet_info_text_res_fuel" >&nbsp;</td>
                <td>&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_res_fuel">&nbsp;</td>
            </tr>
            <tr>
                <td id="planet_info_text_res_food" >&nbsp;</td>
                <td>&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_res_food">&nbsp;</td>
            </tr>
            <tr>
                <td id="planet_info_text_people" >&nbsp;</td>
                <td>&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_people">&nbsp;</td>
            </tr>
            <tr>
                <td id="planet_info_text_power" >&nbsp;</td>
                <td >&nbsp;</td>
                <td class="PlaniTextCenter" id="planet_info_power">&nbsp;</td>
            </tr>
        </table>
    </div>
</div>