{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Spieler Kampfwertung</h1>

    <table class="full-width">
        <tr>
            <th>#</th>
            <th>Nick</th>
            <th>Rasse</th>
            <th>Allianz</th>
            <th>Kämpfe Gewonnen</th>
            <th>Kämpfe Verloren</th>
            <th>Kämpfe Total</th>
            <th>Bewertung</th>
        </tr>

        {% for rating in ratings %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ rating.userNick }}</td>
                <td>{{ rating.raceName }}</td>
                <td>{{ rating.allianceTag }}</td>
                <td>{{ formatNumber(rating.battlesWon) }}</td>
                <td>{{ formatNumber(rating.battlesLost) }}</td>
                <td>{{ formatNumber(rating.battlesFought) }}</td>
                <td>{{ formatNumber(rating.rating) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99"><p>Keine Spieler gefunden</p></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
