{% extends 'admin/stats/base.html.twig' %}

{% block statsContent %}
    <h2>Handelswertung</h2>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Nick</th>
            <th>Rasse</th>
            <th>Allianz</th>
            <th>Einkäufe</th>
            <th>Verkäufe</th>
            <th>Bewertung</th>
        </tr>
        </thead>
        <tbody>
        {% for rating in ratings %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ rating.userNick }}</td>
                <td>{{ rating.raceName }}</td>
                <td>{{ rating.allianceTag }}</td>
                <td>{{ formatNumber(rating.tradesBuy) }}</td>
                <td>{{ formatNumber(rating.tradesSell) }}</td>
                <td>{{ formatNumber(rating.rating) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99"><p>Keine Spieler gefunden</p></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
