{% for val, label in options %}
    <input type="radio" name="{{ name }}" id="{{ name }}_{{ loop.index }}"
           value="{{ val }}" {% if value == val %} checked="checked" {% endif %} {{ attributes }} />
    <label for="{{ name }}_{{ loop.index }}">{{ label }}</label><br>
{% endfor %}
