{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Spieler</h1>
    <h2>Beobachtungsliste</h2>

    {{ form(form) }}

    <p>Folgende User stehen unter Beobachtung:</p>
    <table class="table">
        <thead>
        <tr>
            <th>Nick</th>
            <th>Punkte</th>
            <th>Text</th>
            <th>Online</th>
            <th>Details</th>
            <th>Optionen</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('admin.users.view', {id: user.id}) }}">{{ user.nick }}</a></td>
                <td>{{ formatNumber(user.points) }}</td>
                <td>{{ user.observe }}</td>
                {% if user.timeAction > 0 %}
                    <td class="tbldata" style="color:#0f0;">online</td>
                {% elseif user.timeLog > 0 %}
                    <td class="tbldata">{{ formatTimestamp(user.timeLog) }}</td>
                {% else %}
                    <td class="tbldata">Noch nicht eingeloggt!</td>
                {% endif %}

                <td>{{ formatNumber(entryCounts[user.id]|default(0)) }}</td>
                <td>
                    <a href="{{ path('admin.users.observer.details', {id: user.id}) }}">Details</a>
                    <a href="{{ path('admin.users.observer.edit', {id: user.id}) }}">Text ändern</a>
                    <a href="{{ path('admin.users.observer.remove', {id: user.id}) }}">Entfernen</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99"><i>Keine gefunden!</i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
