{% extends 'game/alliance/allianceboard/allianceboard.html.twig' %}
{% import 'macros.html.twig' as macros %}

{% block allianceboard %}
    <h2>Thema löschen</h2>
    {% if msg.success is defined %}
        {{ macros.successMessage(msg.success) }}
        <a href="{{ path('game.alliance.allianceboard.overview') }}">
            <input type="button" value="Zurück"/>
        </a>
    {% else %}
        {{ form_start(form) }}
            Soll der Beitrag <b>{{ topicName }}</b> und alle darin enthaltenen Posts gelöscht werden?<br/><br/>
            {{ form_widget(form.topicDelete) }}
            <a href="{{ path('game.alliance.allianceboard.showtopics',{id:app.request.attributes.get('_route_params').id}) }}">
                <input type="button" value="Abbrechen"/>
            </a>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}