{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Spieler</h1>
    <h2>Verwarnungen</h2>

    {{ form(form) }}

    <h3>Bestehende Verwarnungen</h3>
    <table class="table">
        <thead>
        <tr>
            <th>Neuste Verwarnung</th>
            <th>Nick</th>
            <th>Verwarnungen</th>
        </tr>
        </thead>
        {% for userWarnings in warnings %}
            <tr>
                <td>{{ formatTimestamp(userWarnings[0].date) }}</td>
                <td>
                    <a href="{{ path('admin.users.view', {id: userWarnings[0].userId}) }}">{{ userWarnings[0].userNick }}</a>
                </td>
                <td><a href="#"
                       onclick="toggleBox('w{{ userWarnings[0].userId }}')">{{ formatNumber(userWarnings|length) }}
                        Verwarnungen</a></td>
            </tr>
            <tr>
                <td colspan="99" id="w{{ userWarnings[0].userId }}" style="display:none;">
                    <table>
                        <tr>
                            <th style="">Text</th>
                            <th>Datum</th>
                            <th>Verwarnt von</th>
                            <th>Optionen</th>
                        </tr>
                        {% for warning in userWarnings %}
                            <tr>
                                <td>{{ warning.text|nl2br }}</td>
                                <td>{{ formatTimestamp(warning.date) }}</td>
                                <td>{{ warning.adminNick }}</td>
                                <td>
                                    <a href="{{ path('admin.users.warnings.edit', {id: warning.id}) }}">Bearbeiten</a>
                                    <a href="{{ path('admin.users.warnings.delete', {id: warning.id}) }}"
                                       onclick="return confirm('Verwarnung löschen?')">Löschen</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99"><i>Keine gefunden!</i></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
