{% extends 'admin/layout/admin.html.twig' %}

{% import 'admin/macros.html.twig' as macros %}

{% block content %}
    <h1>Periodische Tasks (Cronjob)</h1>

    {% if successMessage %}
        {{ macros.messagebox(successMessage, 'success') }}
    {% endif %}

    {% if errorMessage %}
        {{ macros.messagebox(errorMessage, 'error') }}
    {% endif %}

    {% if not configValue('update_enabled') == 1 %}
        {{ macros.messagebox('Periodische Updates sind momentan deaktiviert! <a href="?page='~ page ~ '&activateupdate=1">Aktivieren</a>', 'info', 'Updates deaktiviert') }}
    {% endif %}

    {% if isUnix %}
        {% if crontabCheck %}
            <h3>Cronjob</h3>
            {{ macros.messagebox('Cronjob ist korrekt eingerichtet!', 'success') }}
        {% else %}
            {{ macros.messagebox('Cronjob ist möglicherweise nicht korrekt eingerichtet!', 'warning') }}

            <h3>Unix-Cronjob einrichten</h3>
            <p>
                <input type="button" value="Automatisch einrichten" onclick="document.location='?page={{ page }}&enablecronjob'" />
            </p>
            <p>
                <em>oder</em>
            </p>
            <ol>
                <li>Auf den Server einloggen (z.B. via SSH) resp. eine Shell/Kommandozeile öffnen</li>
                <li>Folgenden Befehl eingeben: <pre class="code">crontab -e</pre></li>
                <li>Diese Zeile einfügen: <pre class="code">{{ cronjob }}</pre></li>
                <li>
                    Die Datei speichern und den Editor beenden
                    <ul>
                        <li>Falls der Editor Vim ist: <i>ESC</i> drücken, <i>:wq</i> eingeben</li>
                        <li>Falls der Editor Nano ist: <i>CTRL+X</i> drücken und Speichern mit <i>Y</i> bestätigen</li>
                    </ul>
                </li>
                <li>Resultat prüfen: <pre class="code">crontab -l</pre></li>
            </ol>

            <h3>Aktuelle Crontab</h3>
            <p>User: <code>{{ crontabUser }}</code></p>
            <pre class="code">{{ crontab }}</pre>
        {% endif %}
    {% else %}
        <h3>Cronjob</h3>
        {{ macros.messagebox('Cronjobs sind nur auf UNIX-Systemen verfügbar!', 'warning') }}
    {% endif %}

    {% if periodicTasks|length > 0 %}
        <h3>Tasks</h3>

        {% if updateResults|default(false) %}
            {{ macros.messagebox(updateResults, 'info') }}
        {% endif %}

        <table style="width:100%">
            <thead>
            <tr>
                <th>Beschreibung</th>
                <th>Name</th>
                <th>Minute</th>
                <th>Stunde</th>
                <th>Tag des Monats</th>
                <th>Monat</th>
                <th>Tag der Woche</th>
                <th>Aktuell</th>
                <th style="width:90px">Aktion</th>
            </tr>
            </thead>
            <tbody>
                {% for key,item in periodicTasks %}
                    <tr>
                        <td>{{ item.desc }}</td>
                        <td>{{ key }}</td>
                        <td style="text-align:center;">{{ item.min }}</td>
                        <td style="text-align:center;">{{ item.hour }}</td>
                        <td style="text-align:center;">{{ item.dayofmonth }}</td>
                        <td style="text-align:center;">{{ item.month }}</td>
                        <td style="text-align:center;">{{ item.dayofweek }}</td>
                        <td style="text-align:center;">{% if item.current %}<img src="web/images/icons/bullet_green.png">{% else %}<img src="web/images/icons/bullet_black.png">{% endif %}</td>
                        <td><input type="button" value="Ausführen" onclick="document.location='?page={{ page }}&runtask={{ key }}'" /></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <input type="button" value="Aktuelle Tasks ausführen" onclick="document.location='?page={{ page }}&run=current'" />
            <input type="button" value="Alle Tasks ausführen" onclick="document.location='?page={{ page }}&run=all'" />
        </p>
    {% endif %}
{% endblock %}
