{% extends 'game/userconfig/userconfig.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block config %}
    {{ macros.message('Logins', 'Solltest du Probleme mit dem Passwort haben schreibe
    ein ticketLink("Ticket", 17) oder popUp("kontaktiere", "page=contact") einen Admin.') }}

    {{ form_start(form) }}
        {% if not form.plainPassword.first.vars.valid %}
            {% for error in form.plainPassword.first.vars.errors %}
                {{ macros.errorMessage(error.message) }}
            {% endfor %}
        {% endif %}

        {% if not form.oldPassword.vars.valid %}
            {% for error in form.oldPassword.vars.errors %}
                {{ macros.errorMessage(error.message) }}
            {% endfor %}
        {% endif %}

        <twig:Table title="Passwort ändern">
            {% block table_content %}
                <tr>
                    <th>Altes Passwort:</th>
                    <td>
                        {{ form_widget(form.oldPassword) }}
                    </td>
                </tr>
                <tr>
                    <th>Neues Passwort (mind. {{ config.getInt('password_minlength') }} Zeichen)</th>
                    <td>
                        {{ form_widget(form.plainPassword.first) }}
                    </td>
                </tr>
                <tr>
                    <th>Neues Passwort wiederholen:</th>
                    <td>
                        {{ form_widget(form.plainPassword.second) }}
                    </td>
                </tr>
            {% endblock %}
        </twig:Table>
        Beachte dass Passwörter eine Länge von mindestens {{ config.getInt('password_minlength') }} Zeichen haben müssen!<br/><br/>
        {{ form_widget(form.save, {'label': 'Passwort ändern'}) }}
    {{ form_end(form) }}
{% endblock %}
