{% extends 'admin/alliance/edit/edit-subnav.html.twig' %}

{% block editContent %}
    <form method="post">
        <table class="tb">
            <tr>
                <th>Allianz</th>
                <th>Bezeichnung</th>
                <th>Status</th>
                <th>Datum</th>
                <th>Löschen</th>
            </tr>
            {% for diplomacy in diplomacies %}
                <tr>
                    <td>
                        <a href="{{ path('admin.alliances.edit', {id: diplomacy.otherAllianceId}) }}">[{{ diplomacy.otherAllianceTag }}] {{ diplomacy.otherAllianceName }}</a>
                    </td>
                    <td>
                        <input type="text" value="{{ diplomacy.name }}" name="alliance_bnd_name[{{ diplomacy.id }}]" />
                    </td>
                    <td>
                        <select name="alliance_bnd_level[{{ diplomacy.id }}]">
                            {% for level,label in levels %}
                                <option value="{{ level }}"{% if diplomacy.level == level %} selected="selected"{% endif %}>{{ label }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td>
                        {{ formatTimestamp(diplomacy.date) }}
                    </td>
                    <td valign="top"><input type="checkbox" name="alliance_bnd_del[{{ diplomacy.id }}]" value="1" /></td></tr>
            {% else %}
                <tr><td colspan="9999"><b>Keine Bündnisse/Kriege vorhanden!</b></td></tr>
            {% endfor %}
        </table>

        {% if diplomacies|length > 0 %}
            <p><input type="submit" name="bnd_save" value="Übernehmen" /></p>
        {% endif %}
    </form>
{% endblock %}
