{% extends 'admin/layout/login.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block content %}
  {% if authenticationError %}
    <p>{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</p>
  {% endif %}

  <p>Zwei-Faktor-Authentifizierung ist aktiv. Bitte gib den Code aus der Authenticator-App in das Feld 'Challenge' ein:</p>

  <form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
    <p class="widget">
      <input
        id="_auth_code"
        type="text"
        name="{{ authCodeParameterName }}"
        autocomplete="one-time-code"
        autofocus
        inputmode="numeric"
        pattern="[0-9]*"
      />
    </p>

    {% if displayTrustedOption %}
      <p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> {{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</label></p>
    {% endif %}
    {% if isCsrfProtectionEnabled %}
      <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
    {% endif %}
    <p class="submit"><input type="submit" value="{{ "login"|trans({}, 'SchebTwoFactorBundle') }}" /></p>
  </form>

  <p class="cancel"><a href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a></p>
{% endblock %}
