{% extends 'admin/layout/base.html.twig' %}

{% import 'admin/macros.html.twig' as macros %}

{% block layoutContent %}
    <header class="app-header">
        <div class="branding">
            <a href="{{ path('admin.index') }}"><img class="logo" src="{{ asset('build/images/logo.png') }}"
                                                     alt="Logo"/></a>
            <div class="slogan">Administration {{ configValue('roundname') }}</div>
        </div>
        <nav class="header-nav">
            <b>Zeit:</b>
            <span id="servertime">{{ serverTime() }}</span> &nbsp;
            Admin&nbsp;
            <ul id="headernav">
                <li><a href="{{ path('admin.profile') }}">{{ app.user.username }}</a></li>
                {% if isAdminAllowed(userRoles, ['master', 'super-admin', 'game-admin', 'trial-game-admin']) %}
                    <li>
                        <a href="{{ path('admin.ticket.active') }}">{{ numTickets > 0 ? 'Tickets (' ~ numTickets ~ ')' : 'Tickets' }}</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{{ path('admin.notepad') }}">{{ numNotes > 0 ? 'Notizblock (' ~ numNotes ~ ')' : 'Notizblock' }}</a>
                </li>
                <li><a href="{{ etoaUrl('login') }}" target="_blank">Spiel-Login</a></li>
                <li><a href="{{ path('admin.logout') }}">Logout</a></li>
            </ul>
        </nav>
    </header>
    <section class="app-main">
        <aside class="app-sidebar">
            <div class="quick-search" id="quicksearch" data-controller="quick-search">
                <select data-quick-search-target="input"></select>
            </div>
            <ul class="navmenu">
                {% for key,item in navMenu %}
                    <li>
                        <a href="{{ item.href }}" {% if item.active %}class="active"{% endif %}>{{ key }}</a>
                        {% if item.children is defined and item.children is not empty %}
                            <ul class="navsubmenu">
                                {% for childKey,childItem in item.children %}
                                    <li {% if childItem.bar|default(false) %}class="bar"{% endif %}>
                                        <a href="{{ childItem.href }}"
                                           {% if childItem.active %}class="active"{% endif %}>{{ childKey }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </aside>
        <main class="app-content">
            {% block breadcrumbs %}{% endblock %}
            <div class="app-content-container">
                {% if title is defined %}<h1>{{ title }}</h1>{% endif %}
                {% for type, messages in app.flashes|default([]) %}
                    {% for message in messages %}
                        <twig:alert :type="type">{{ message }}</twig:alert>
                    {% endfor %}
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </main>
    </section>
    <footer class="app-footer">
        &copy; {{ serverDate().format('Y') }} by etoa.ch | generiert in {{ renderTime() }} sec
    </footer>
{% endblock %}
