<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{ pageTitle|default('EtoA Admin') }}</title>

    <meta name="author" content="Nicolas Perrenoud" />
    <meta name="keywords" content="Escape to Andromeda, Browsergame, Strategie, Simulation, Andromeda, MMPOG, RPG" />
    <meta name="robots" content="nofollow" />

    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />

    <link href="../web/css/admin.css" rel="stylesheet" type="text/css" />
    <script src="../web/js/admin.js" type="text/javascript" charset="utf-8"></script>

    {{ ajaxJs|raw }}
</head>
<body {% if bodyClass|default('') %} class="{{ bodyClass }}"{% endif %}>
    {{ bodyTopStuff|raw }}

    {% block layoutContent %}{% endblock %}

    <script src="../web/js/main.js" type="text/javascript"></script>
    <script src="../web/js/tooltip.js" type="text/javascript" ></script>
    {{ scripts_for_footer|default('') }}

    <script type="text/javascript">
        $(function(){
            time({{ serverTimeUnix() }},'servertime',1);
        });
    </script>
</body>
</html>
