<!doctype html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>{{ getGameIdentifier() }} Administration</title>

    <meta name="author" content="Nicolas Perrenoud" />
    <meta name="keywords" content="Escape to Andromeda, Browsergame, Strategie, Simulation, Andromeda, MMPOG, RPG" />
    <meta name="robots" content="nofollow" />

    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('build/images/favicon.ico') }}" />

    {{ encore_entry_link_tags('admin') }}

    {{ encore_entry_script_tags('admin') }}

    {{ ajaxJs|default()|raw }}
</head>
<body {% if bodyClass|default('') %} class="{{ bodyClass }}"{% endif %}>

  <div class="tooltip" id="tooltip" style="display:none;" onmouseup="hideTT();">
    <div class="tttitle" id="tttitle"></div>
    <div class="ttcontent" id="ttcontent"></div>
  </div>

    {% block layoutContent %}{% endblock %}

    <script src="{{ asset('build/js/main.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/js/tooltip.js') }}" type="text/javascript" ></script>
    {{ scripts_for_footer|default('') }}

    <script type="text/javascript">
        $(function(){
            time({{ serverTimeUnix() }},'servertime',1);
        });
    </script>
</body>
</html>
