{% set title="Filesharing" %}

{% extends 'admin/layout/admin.html.twig' %}

{% block breadcrumbs %}
    {{ component('breadcrumbs', { items: [
        { label: 'Liste der Dateien', url: path('admin.tools.filesharing') },
    ]}) }}
{% endblock %}

{% block content %}

    <table class="table">
        <thead>
        <tr>
            <th>Datei</th>
            <th>Grösse</th>
            <th>Datum</th>
            <th style="width:150px;">Optionen</th>
        </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td>
                    <a href="{{ path('admin.tools.filesharing.download', { path: base64(file.name) }) }}">{{ file.name }}</a>
                </td>
                <td>{{ file.size }}</td>
                <td>{{ file.time }}</td>
                <td>
                    <a href="{{ path('admin.tools.filesharing.rename', { path: base64(file.name) }) }}">Umbenennen</a>
                    <a href="{{ path('admin.tools.filesharing.delete', { path: base64(file.name) }) }}"
                       onclick="return confirm('Soll diese Datei wirklich gelöscht werden?')">Löschen</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4"><i>Keine Dateien vorhanden!</i></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form method="post" action="{{ path('admin.tools.filesharing.upload') }}" enctype="multipart/form-data">
        <fieldset>
            <legend>Upload</legend>
            <input type="hidden" name="MAX_FILE_SIZE" value="10000000"/>
            <input type="file" name="datei" size="40" maxlength="10000000"/>
            <input type="submit" name="submit" value="Datei heraufladen"/>
        </fieldset>
    </form>
    
{% endblock %}
