{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h3>Filesharing</h3>

    <table class="tb">
        <tr>
            <th>Datei</th>
            <th>Grösse</th>
            <th>Datum</th>
            <th style="width:150px;">Optionen</th>
        </tr>

        {% for file in files %}
            <tr>
                <td><a href="{{ file.downloadLink }}">{{ file.name }}</a></td>
                <td>{{ file.size }}</td>
                <td>{{ file.time }}</td>
                <td>
                    <a href="{{ path('admin.tools.filesharing.rename') }}?{{ file.link }}">Umbenennen</a>
                    <a href="{{ path('admin.tools.filesharing.delete') }}?{{ file.link }}" onclick="return confirm('Soll diese Datei wirklich gelöscht werden?')">Löschen</a>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="4"><i>Keine Dateien vorhanden!</i></td></tr>
        {% endfor %}
    </table>

    <h2>Upload</h2>
    <form method="post" action="{{ path('admin.tools.filesharing.upload') }}" enctype="multipart/form-data">
        <input type="hidden" name="MAX_FILE_SIZE" value="10000000" />
        <input type="file" name="datei" size="40" maxlength="10000000" />
        <input type="submit" name="submit" value="Datei heraufladen" />
    </form>
{% endblock %}
