{% extends 'admin/layout/admin.html.twig' %}

{% import 'admin/macros.html.twig' as macros %}

{% block content %}
    <h1>Konfiguration</h1>
    <h2>Erweiterte Konfiguration</h2>

    <form action="{{ path('admin.config.editor', {category: currentCategory}) }}" method="post">
        <div class="configEditorWrap">
            <div class="configEditorNav">
                <ul>
                    {% for key,value in configData %}
                        <li>
                            <a href="{{ path('admin.config.editor', {category: key}) }}"{% if currentCategory == key %} class="active"{% endif %}>{{ value }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="configEditorContent">
                <h3>{{ configData[currentCategory] }}</h3>
                {% if configItems|default(false) %}
                    <table class="table">
                        <colgroup>
                            <col style="width: 400px;">
                            <col style="width: 370px" ;>
                            <col>
                            <col>
                        </colgroup>
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Wert</th>
                            <th>Standard</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in configItems %}
                            <tr{% if item.changed %} class="configValueChanged"{% endif %}>
                                <td title="{{ item.name }}, {{ item.type }}">{{ item.label }}</td>
                                <td>{{ item.field|raw }}</td>
                                <td><code>{{ item.default }}</code></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <br/><input type="submit" name="submit" value="Übernehmen"/>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
