{% set title="Fehlerhafte Daten" %}

{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <form method="post">
        <h2>Allianzen ohne Gründer</h2>
        {% if alliancesWithoutFounder|length > 0 %}
            <table class="tbl">
                <tr>
                    <th class="tbltitle">Tag</th>
                    <th class="tbltitle">Name</th>
                    <th>&nbsp;</th>
                </tr>
                {% for alliance in alliancesWithoutFounder %}
                    <tr>
                        <td class="tbldata">{{ alliance.alliance_name }}</td>
                        <td class="tbldata">{{ alliance.alliance_tag }}</td>
                        <td class="tbldata">
                            <a href="?page=$page&amp;sub=edit&amp;alliance_id={{ alliance.alliance_id }}">detail</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <p>{{ alliancesWithoutFounder|length }} Allianzen ohne Gründer.</p>
        {% else %}
            <twig:alert type="info">Keine fehlerhaften Daten gefunden.</twig:alert>
        {% endif %}

        <h2>User mit fehlerhafter Allianz-Verknüpfung</h2>
        {% if usersWithInvalidAlliances|length > 0 %}
            <table class="table">
                <tr>
                    <th class="tbltitle">Nick</th>
                    <th class="tbltitle">E-Mail</th>
                    <th>&nbsp;</th>
                </tr>
                {% for user in usersWithInvalidAlliances %}
                    <tr>
                        <td class="tbldata">{{ user.user_nick }}</td>
                        <td class="tbldata">{{ user.user_email }}</td>
                        <td class="tbldata"><a href="{{ path('admin.users.view', {id: user.user_id}) }}">detail</a></td>
                    </tr>
                {% endfor %}
            </table>
            <p>{{ usersWithInvalidAlliances|length }} User mit fehlerhafter Verknüpfung.</p>
        {% else %}
            <twig:alert type="info">Keine fehlerhaften Daten gefunden.</twig:alert>
        {% endif %}

        <h2>Leere Allianzen (Allianzen ohne User)</h2>
        {% if alliancesWithoutUsers|length > 0 %}
            <table class="tbl">
                <tr>
                    <th class="tbltitle">Name</th>
                    <th class="tbltitle">Tag</th>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                </tr>
                {% for alliance in alliancesWithoutUsers %}
                    <tr>
                        <td class="tbldata">{{ alliance.alliance_id }}</td>
                        <td class="tbldata">{{ aliance.alliance_tag }}</td>
                        <td class="tbldata"><a
                                    href="?page=$page&amp;sub=edit&amp;alliance_id={{ alliance.alliance_id }}">detail</a>
                        </td>
                        <td class="tbldata"><a
                                    href="?page=$page&amp;sub=drop&amp;alliance_id={{ alliance.alliance_id }}">löschen</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <p>{{ alliancesWithoutUsers|length }} Bündnisse/Kriege ohne Allianz. <input type="submit"
                                                                                        name="cleanupEmptyAlliances"
                                                                                        value="Löschen"></p>
        {% else %}
            <twig:alert type="info">Keine fehlerhaften Daten gefunden.</twig:alert>
        {% endif %}
    </form>
{% endblock %}
