<!--
   ETOA Design Revolution by HeaX
	umgesetzt durch :	ETOA-Team - Lukulus
	Stand: 02. Dezember 14
	Version: 0.9 Beta
 -->
<script type='text/javascript'>
    $(function(){
        $('#content').css({'height':(($(window).height())-155)+'px'});
        $(window).resize(function(){$('#content').css({'height':(($(window).height())-155)+'px'});});
    });
</script>

<!-- Kopfbereich -->
<div id="wk">
    {% if isAdmin %}
        <a class="right-tip" data-tips=" Admintool " href="admin" id="h_admin" target="_blank"></a>
    {% endif %}

    <a href="?page=overview" id="h_overview" class="bottom-tip" data-tips=" Planetenübersicht {% if enableKeybinds %}[Leertaste] {% endif %}"></a>

    <div id="servertime">
        {{ serverTime() }}
    </div>

    <a href="?page=stats" id="h_stats"></a>
    <a href="#" id="h_forum" onclick="window.open('{{ etoaUrl('forum') }}')"></a>
    <a href="?page=userconfig" id="h_optionen"></a>
    <a href="#" id="h_rules" onclick="{{ onClick('rules') }}"></a>
    <a href="?page=ticket" id="h_tickets"></a>
    <a href="?page=help" id="h_wiki" class="bottom-tip" data-tips=" ETOA - Wiki "></a>
    <a href="?logout=1" id="h_logout" class="bottom-tip" data-tips=" abmelden "></a>

</div>

<!-- Inhaltsbereich -->
<div id="wc">

    <!-- Haupfnavigation links -->
    <nav id="nav">

        {% if currentPlanetImage|default(false) %}
            <a href="?page=overview" id="planetimage">
                <img src="{{ currentPlanetImage }}" width="73.5" height="73.5" align="middle">
            </a>
            <div id="planetname">{{ currentPlanetName }}</div>
        {% else %}
            <a href="?page=overview" id="planetimage">
                <img src="{{ templateDir }}/images/dummy.gif" width="73.5" height="73.5" align="middle">
            </a>
            <div id="planetname">noch nicht ausgewählt</div>
        {% endif %}

        <a id="prevplanet" href="?page={{ page }}&amp;mode={{ mode }}&amp;change_entity={{ prevPlanetId }}"></a>
        <a id="nextplanet" href="?page={{ page }}&amp;mode={{ mode }}&amp;change_entity={{ nextPlanetId }}"></a>
        <a id="navplanetlist" href="#" onclick="js_planetlist(true); return true"></a>
        <div id="planetlist" onmouseover="js_planetlist(true); return true;" onmouseout="js_planetlist(false); return true;">
            {% for planet in planetList %}
                <a href="{{ planet.url }}" {% if planet.current %}class="active"{% endif %}>{{ planet.label }}</a>
            {% endfor %}
        </div>

        <a href="?page=cell" class="right-tip" data-tips=" System " id="navcell"></a>
        <a href="?page=sector" class="right-tip" data-tips=" Sektor " id="navsektor"></a>
        <a href="?page=galaxy" class="right-tip" data-tips=" Galaxie {% if enableKeybinds %}[k] {% endif %}" id="navgalaxie"></a>

        <a href="?page=buildings" class="right-tip" data-tips=" Bauhof {% if enableKeybinds %}[g] {% endif %}" id="navbuildings"></a>
        <a href="?page=research" class="right-tip" data-tips=" Forschung {% if enableKeybinds %}[f] {% endif %}" id="navresearch"></a>
        <a href="?page=shipyard" class="right-tip" data-tips=" Schiffswerft {% if enableKeybinds %}[w] {% endif %}" id="navshipyard"></a>
        <a href="?page=defense" class="right-tip" data-tips=" Waffenfabrik {% if enableKeybinds %}[d] {% endif %}" id="navdefense"></a>
        <a href="?page=missiles" class="right-tip" data-tips=" Raketensilo {% if enableKeybinds %}[r] {% endif %}" id="navmissiles"></a>

        <a href="?page=economy" class="top-tip" data-tips=" Wirtschaft {% if enableKeybinds %}[p] {% endif %}" id="naveconomy"></a>
        <a href="?page=population" class="top-tip" data-tips=" Bewohner {% if enableKeybinds %}[B] {% endif %}" id="navpopulation"></a>
        <a href="?page=planetoverview" class="top-tip" data-tips=" Planeteninfo " id="navplanetoverview"></a>
        <a href="?page=techtree" class="top-tip" data-tips=" Technikbaum " id="navtechtree"></a>

        <a href="?page=haven" class="top-tip" data-tips=" Raumhafen {% if enableKeybinds %}[h] {% endif %}" id="navhaven"></a>
        <a href="?page=bookmarks" class="right-tip" data-tips=" Favoriten {% if enableKeybinds %}[v] {% endif %}" id="navfavorite"></a>

        <a href="?page=market" class="bottom-tip" data-tips=" Marktplatz {% if enableKeybinds %}[m] {% endif %}" id="navmarket"></a>
        <a href="?page=crypto" class="bottom-tip" data-tips=" Geheimdienst " id="navcrypto"></a>
        <a href="?page=recycle" class="bottom-tip" data-tips=" Recycling " id="navrecycle"></a>
        <a href="?page=bunker" class="bottom-tip" data-tips=" Bunker " id="navbunker"></a>

    </nav>

    {% include 'layout/chunks/tutorial.html.twig' %}
    {% include 'layout/chunks/quests.html.twig' %}

    <!-- zentraler Inhaltsbereich -->
    <section id="content">
        <div id="contentwrap">
            {{ content|raw }}
        </div>
        <img src="{{ templateDir }}/images/content_footerabstand.gif" width="142" height="50" alt="">
    </section>

    <!-- Seitenbereich, rechts -->
    <aside id="aside">
        <!-- dieser Inhalt wird über jquery (buttongesteuert) durch ein iframe mit dem Chat ersetzt!  -->
        <div id="c_aside">
            {{ text2Html(infoText|default(''))|raw }}
        </div>
    </aside>
</div>

<!-- Fussbereich -->
<div id="wf">

    {% if messages > 0 %}
        <a href="?page=messages" class="top-tip" data-tips=" {% if messages > 0 %}{{ messages }} neue Nachricht{% else %}{{ messages }} neue Nachrichten{% endif %} {% if enableKeybinds %}[n] {% endif %}" id="f_nachricht_aktive"></a>
    {% else %}
        <a href="?page=messages" class="top-tip" data-tips=" Nachrichten {if $enableKeybinds}[n] {/if}"  id="f_nachricht"></a>
    {% endif %}

    {% if newreports >0 %}
        <a href="?page=reports"  class="top-tip" data-tips=" {% if newreports == 1%}{{ newreports }} neuer Bericht{% else %}{{ newreports }} neue Berichte{% endif %} {% if enableKeybinds %}[b] {% endif %}" id="f_bericht_aktive"></a>
    {% else %}
        <a href="?page=reports"  class="top-tip" data-tips=" Berichte {% if enableKeybinds %}[b] {% endif %}" id="f_bericht"></a>
    {% endif %}

    <a href="?page=notepad" id="f_notiz"></a>
    <a href="?page=townhall" id="f_rathaus"></a>

    <div id="f_eigene">{{ ownFleetCount }}</div>

    {% if fleetAttack > 0 %}
        <a href="?page=fleets" id="f_fleet_enemy"></a>
    {% else %}
        <a href="?page=fleets" id="f_fleet"></a>
    {% endif %}

    <div id="f_angriffe">{{ fleetAttack }}</div>

    <a href="?page=alliance" id="f_allianz"></a>

    {% if buddyreq > 0%}
        <a href="?page=buddylist" id="f_buddylist_reg"></a>
    {% elseif buddys > 0%}
        <a href="?page=buddylist" id="f_buddylist_buddys"></a>
    {% else %}
        <a href="?page=buddylist" id="f_buddylist"></a>
    {% endif %}

    <a href="#" id="f_chat" ></a>
    <a href="#" id="f_chat_on" ></a>

</div>
