{% extends 'admin/layout/admin.html.twig' %}

{% import 'admin/macros.html.twig' as macros %}

{% block content %}
    <h1>Übersicht</h1>

    {% if welcomeMessage %}
        <p>{{ welcomeMessage|raw }}</p>
    {% endif %}

    {% if forcePasswordChange %}
        <twig:alert type="warning" title="Passwortwiederherstellung" actionLabel="Passwort ändern"
                    actionUrl="{{ path('admin.profile') }}">
            Dein Passwort wurde seit der letzten automatischen Generierung noch nicht geändert.
        </twig:alert>
    {% endif %}

    {% if not hasTfa %}
        <twig:alert type="info" title="Zwei-Faktor-Authentifizierung" actionLabel="Zum Profil"
                    actionUrl="{{ path('admin.profile') }}">
            Aktiviere die Zwei-Faktor-Authentifizierung um die Sicherheit deines Accounts zu verbessern!
        </twig:alert>
    {% endif %}

    {% if adminInfo %}
        <twig:alert type="info" title="Admin-News">
            {{ BBCodeToHTML(adminInfo)|raw }}
        </twig:alert>
    {% endif %}

    {% if systemMessage %}
        <twig:alert type="info" title="Systemnachricht aktiv!" actionLabel="Bearbeiten/Deaktivieren"
                    actionUrl="{{ path('admin.texts.edit', {id: 'system_message'}) }}">
            {{ BBCodeToHTML(systemMessage)|raw }}
        </twig:alert>
    {% endif %}

    {% if configValue('offline') == 1 %}
        <twig:alert type="warning" title="Spiel offline" actionLabel="Ändern"
                    actionUrl="{{ path('admin.overview.game-offline') }}">
            {{ BBCodeToHTML(configValue('offline_message'))|raw }}
        </twig:alert>
    {% endif %}

    {% if configValue('register_key') %}
        <twig:alert type="info">
            Die öffentlichen Seiten (Anmeldung, Statistiken etc) sind durch den Schlüssel
            <code>{{ configValue("register_key") }}</code> geschützt!
        </twig:alert>
    {% endif %}

    {% if not configValue('update_enabled') == 1 %}
        <twig:alert type="warning" title="Updates deaktiviert" actionLabel="Aktivieren"
                    actionUrl="{{ path('admin.cronjob.enable') }}">
            Periodische Updates sind momentan deaktiviert!
        </twig:alert>
    {% endif %}

    {% if isAdminAllowed(userRoles, 'master,super-admin,game-admin,trial-game-admin') %}
        <fieldset class="overview_widget">
            <legend>Ticket-System</legend>
            <a href="{{ path('admin.ticket.active') }}">{{ numTickets ~ ' neue Tickets' }}</a> vorhanden
            <br/>
            <a href="{{ path('admin.ticket.active') }}">{{ numOpenTickets ~ ' offene Tickets' }}</a> vorhanden
        </fieldset>
    {% endif %}

    <fieldset class="overview_widget">
        <legend>Status</legend>
        <table class="table mb-0">
            {% if isUnix() %}
                <tr>
                    <th><a href="{{ path('admin.eventhandler') }}">Eventhandler</a></th>
                    {% if eventHandlerPid|default(false) %}
                        <td class="color_ok">PID {{ eventHandlerPid }}</td>
                    {% else %}
                        <td class="color_error">offline</td>
                    {% endif %}
                </tr>
            {% endif %}
            <tr>
                <th><a href="{{ path('admin.db') }}">Datenbank</a></th>
                <td>{{ dbSizeInMB }} MB</td>
            </tr>
            <tr>
                <th><a href="{{ path('admin.stats.users') }}">User registriert</a></th>
                <td>{{ usersCount }} / {{ usersAllowed }}</td>
            </tr>
            <tr>
                <th><a href="{{ path('admin.users.sessions') }}">User online</a></th>
                <td>{{ usersOnline }} / {{ usersCount }}</td>
            </tr>
            <tr>
                <th><a href="{{ path('admin.admin-sessions') }}">Admins online</a></th>
                <td>{{ adminsOnline }} / {{ adminsCount }}</td>
            </tr>
        </table>
    </fieldset>

    {% if isAdminAllowed(userRoles, 'master,super-admin,game-admin,trial-game-admin') %}
        {{ component('admin:widgets:systemInfo') }}
    {% endif %}

    {% if fleetBanTitle %}
        <twig:alert type="info" :title="fleetBanTitle">
            {{ fleetBanText }}
        </twig:alert>
    {% endif %}

    {% if not didBigBangHappen %}
        <twig:alert type="warning" title="Universum existiert noch nicht!" actionLabel="Weiter zum Urknall"
                    actionUrl="{{ path('admin.universe.edit') }}">
            Das Universum wurde noch nicht erschaffen!
        </twig:alert>
    {% endif %}
{% endblock %}
