{% extends 'admin/layout/admin.html.twig' %}

{% block content %}
    <h1>Forschung</h1>

    <h3>Eintrag Bearbeiten</h3>

    <table class="tbl">
        <tr>
            <th>ID</th>
            <td>{{ item.id }}</td>
        </tr>
        <tr>
            <th>Entity</th>
            <td>{{ entity.toString() }}</td>
        </tr>
        <tr>
            <th>Spieler</th>
            <td>{{ userNick }}</td>
        </tr>
        <tr>
            <th>Gebäude</th>
            <td>{{ technologyName }}</td>
        </tr>
    </table>

    {{ form(form, {attr: {id: 'edit_form'}}) }}

    <input type="submit" name="save" value="Übernehmen" form="edit_form" />&nbsp;
    <form class="inline-block" method="post" action="{{ path('admin.technology.delete', {id: item.id}) }}">
        <input type="submit" name="del" value="Löschen" />
    </form>

{% endblock %}
