<tbody
    {{ init_live_component(this) }}
    data-original-data="{}" {# Hack to prevent issue with symfony/ux #}
    data-action="change->live#update"
>
{% if this.item %}
    {% if this.isEdit %}
        {{ form_start(this.form, {'attr': {'onkeydown' :"return event.key != 'Enter';"}}) }}
    {% endif %}
    <tr>
        <td>{{ this.item.id }}</td>
        <td>{{ this.user }}</td>
        <td>{{ this.entity }}</td>
        <td>{{ this.ship }}</td>
        <td>
            {% if this.isEdit %}
                {{ form_row(this.form.count) }}
            {% else %}
                {{ formatNumber(this.item.count) }}
            {% endif %}
        </td>
        <td>
            {{ formatTimespan(this.item.objectTime) }}
        </td>
        <td>
            {% if this.isEdit %}
                {{ form_row(this.form.startTime) }}
            {% else %}
                {{ formatTimestamp(this.item.startTime) }}
            {% endif %}
        </td>
        <td>
            {% if this.isEdit %}
                {{ form_row(this.form.endTime) }}
            {% else %}
                {{ formatTimestamp(this.item.endTime) }}
            {% endif %}
        </td>
        <td>
            {% if this.isEdit %}
                <a href="#ship-{{ this.item.id }}" data-action="live#action" data-action-name="prevent|submit">Speichern</a>
                <a href="#ship-{{ this.item.id }}" data-action="live#action" data-action-name="prevent|abortEdit">Abbrechen</a>
            {% else %}
                <a href="#ship-{{ this.item.id }}" data-action="live#action" data-action-name="prevent|showEdit">Bearbeiten</a>
                <a href="#ship-{{ this.item.id }}" data-action="live#action" data-action-name="prevent|finish">Fertig stellen</a>
                <a onclick="confirm('Sollen {{ this.item.count}} {{ this.ship }} von diesem Planeten gelöscht werden?')" href="#ship-{{ this.item.id }}" data-action="live#action" data-action-name="prevent|delete">Löschen</a>
            {% endif %}
        </td>
    </tr>
    {% if this.isEdit %}
        {{ form_end(this.form) }}
    {% endif %}
{% endif %}
</tbody>
