<div
    {{ init_live_component(this) }}
    data-action="change->live#update"
>
    {{ form_start(this.form, {'attr': {'onkeydown' :"return event.key != 'Enter';"}}) }}
    <fieldset>
        <legend>Filter</legend>
        {% for element in this.form %}
            <div class="inline-block">
                {{ form_row(element) }}
            </div>
        {% endfor %}

        <button type="button" data-action="live#action" data-action-name="prevent|reset">Reset</button>
    </fieldset>
    {{ form_end(this.form) }}

    {% set search = this.search %}
    <div class="search-container" data-loading="addClass(loading)">
        <div class="search-overlay"><div class="search-spinner"></div></div>
        <table class="tb full-width">
            <tr>
                <th colspan="4">
                    {% include 'components/shared/pagination.html.twig' %}
                </th>
            </tr>
            <tr>
                <th style="width:140px;">Datum</th>
                <th style="width:90px;">Schweregrad</th>
                <th style="width:90px;">Bereich</th>
                <th>Nachricht</th>
            </tr>
            {% for log in search.entries %}
                <tr>
                    <td>{{ formatTimestamp(log.timestamp) }}</td>
                    <td>{{ this.severities[log.severity] }}</td>
                    <td>{{ this.facilities[log.facility] }}</td>
                    <td>
                        {{ BBCodeToHTML(log.message)|raw }}
                        {% if log.ip %}
                            <br/><br/>
                            <b>Host:</b> {{ log.ip }} ({{ ipGetHost(log.ip) }})
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
