{% set title="Aktive Admin-Sessions" %}

{% extends 'admin/layout/admin.html.twig' %}

{% block content %}

    <p>Das Timeout beträgt {{ formatTimespan(sessionTimeout) }}</p>

    <table class="table">
        <tr>
            <th>Status</th>
            <th>Nick</th>
            <th>Login</th>
            <th>Aktivität</th>
            <th>Dauer</th>
            <th>IP</th>
            <th>User Agent</th>
            <th>Kicken</th>
        </tr>
        {% for session in sessions %}
            {% set online = time - sessionTimeout < session.timeAction %}
            <tr>
                <td style="color:{% if online %}#0f0{% else %}red{% endif %};">{% if online %}Online{% else %}Timeout{% endif %}</td>
                <td>
                    <a href="{{ path('admin.admin_management.edit', {id: session.userId}) }}">{{ session.userNick }}</a>
                </td>
                <td>{{ formatTimestamp(session.timeLogin) }}</td>
                <td>{{ formatTimestamp(session.timeAction) }}</td>
                <td>{{ formatTimespan(session.timeAction - session.timeLogin) }}</td>
                <td title="{{ ipGetHost(session.ipAddr) }}">{{ session.ipAddr }}</td>
                <td title="{{ session.userAgent }}">{{ browser(session.userAgent).toString() }}</td>
                <td>
                    <form action="{{ path('admin.admin-sessions.kick', {id: session.id}) }}" method="POST"
                          class="form-inline"><input
                                type="submit" value="Kick"></form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="99999"><i>Keine Einträge vorhanden!</i></td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
