<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>{{ gameTitle|default('EtoA') }}</title>

    <!-- Meta Info -->
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="EtoA Gaming" />
    <meta name="robots" content="nofollow" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" type="text/css" href="web/css/vendor/jquery-ui.css" />
    {% if templateDir|default(false) %}
        <link rel="stylesheet" type="text/css" href="{{ templateDir }}/style.css" />
    {% endif %}

    {% for css in additionalCss|default([]) %}
        <link rel="stylesheet" type="text/css" href="{{ css }}" />
    {% endfor %}

    <!-- CSS Hacks for stuipd Internet Explorer -->
    <!--[if IE]><link rel="stylesheet" type="text/css" href="web/css/ie.css" /><![endif]-->
    <!-- PNG Hack for stupid Internet Explorer -->
    <!--[if IE 6]>img, div { behavior: url('web/css/iepngfix.htc') }
    <script src="web/js/vendor/DD_belatedPNG.js"></script>
    <script>
        DD_belatedPNG.fix('.png_bg'); /* EXAMPLE */
        /* string argument can be any CSS selector */
        /* using .png_bg example is unnecessary */
        /* change it to what suits you! */
    </script>
    <![endif]-->

    <!-- XAJAX -->
    {{ xajaxJS|default('')|raw }}
    <script type="text/javascript" src="web/js/vendor/jquery.min.js"></script>
    <script type="text/javascript" src="web/js/vendor/jquery.cookie.js"></script>
    <script type="text/javascript" src="web/js/main.js"></script>
    {% if page|default(false) %}
        <script type="text/javascript">
            window.prevEntityUrl="?page={{ page }}&mode={{ mode }}&change_entity={{ prevPlanetId }}";
            window.nextEntityUrl="?page={{ page }}&mode={{ mode }}&change_entity={{ nextPlanetId }}";
        </script>

    {% if enableKeybinds %}
        <script type="text/javascript" src="web/js/keybinds.js"></script>
    {% endif %}
    {% endif %}
</head>
<body>
{{ bodyTopStuff|default('')|raw }}
{% block layoutContent %}{% endblock %}
{% if templateDir|default(false) %}
    <script type="text/javascript" src="{{ templateDir }}/scripts.js"></script>
{% endif %}
{% for js in additionalJs|default([]) %}
    <script type="text/javascript" src="{{ js }}"></script>
{% endfor %}
<script src="web/js/tooltip.js" type="text/javascript" ></script>
<script type="text/javascript">
    $(function(){
        time({{ serverTimeUnix() }},'servertime',1);
    });
</script>
<script type="text/javascript" src="web/js/vendor/jquery-ui.min.js"></script>
</body>
</html>
