{% extends 'admin/layout/admin.html.twig' %}

{% import 'admin/macros.html.twig' as macros %}

{% block content %}
    <h1>Admin-Management</h1>
    <h3>Übersicht</h3>

    <table class="tb">
        <tr>
            <th>Nick</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Zwei-Faktor-Authentifizierung</th>
            <th>Rollen</th>
            <th>Gesperrt</th>
            <th>Foren-Profil</th>
            <th></th>
        </tr>

        {% for admin in admins %}
            <tr>
                <td>{{ admin.nick }}</td>
                <td>{{ admin.name }}</td>
            <td><a href="mailto:{{ admin.email }}">{{ admin.email }}</a></td>
            <td>{{ admin.tfaSecret ? "Aktiv" : "Nicht aktiviert" }}</td>
            <td>{{ getAdminRoles(admin) }}</td>
            <td>{{ admin.locked ? "<span style=\"color:red\">Ja</span>" : "Nein" }}</td>
            <td>{% if admin.boardUrl %}<a href="{{ admin.boardUrl}}" target="_blank">Profil</a>{% endif %}</td>
            <td style="width:40px;">
                {% if is_granted('ROLE_ADMIN_SUPER-ADMIN') %}
                    {{ editButton(path('admin.admin_management.edit', {id: admin.id}))|raw }}
                    {% if admin.id != app.user.id %}
                        {{ delButton(path('admin.admin_management.delete', {id: admin.id}), "return confirm('Soll der Benutzer wirklich gelöscht werden?')")|raw }}
                    {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <br/>

    {% if is_granted('ROLE_ADMIN_SUPER-ADMIN') %}
        <input type="button" onclick="document.location='{{ path('admin.admin_management.new') }}'" value="Neuer Benutzer" />
    {% endif %}

{% endblock %}
