{% set title="Admin-Management" %}

{% extends 'admin/layout/admin.html.twig' %}

{% block breadcrumbs %}
    {{ component('breadcrumbs', { items: [
        { label: 'Admin-Management', url: path('admin.admin_management') },
    ]}) }}
{% endblock %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Nick</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Zwei-Faktor-Authentifizierung</th>
            <th>Rollen</th>
            <th>Gesperrt</th>
            <th>Foren-Profil</th>
            <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        {% for admin in admins %}
            <tr>
                <td>
                    {% if is_granted('ROLE_ADMIN_SUPER-ADMIN') %}
                        <a href="{{ path('admin.admin_management.edit', {id: admin.id}) }}">{{ admin.nick }}</a>
                    {% else %}
                        {{ admin.nick }}
                    {% endif %}
                </td>
                <td>{{ admin.name }}</td>
                <td><a href="mailto:{{ admin.email }}">{{ admin.email }}</a></td>
                <td>{{ admin.tfaSecret ? "Aktiv" : "Nicht aktiviert" }}</td>
                <td>{{ getAdminRoles(admin) }}</td>
                <td>{{ admin.locked ? "<span style=\"color:red\">Ja</span>" : "Nein" }}</td>
                <td>{% if admin.boardUrl %}<a href="{{ admin.boardUrl }}" target="_blank">Profil</a>{% endif %}</td>
                <td>
                    {% if is_granted('ROLE_ADMIN_SUPER-ADMIN') %}
                        <a href="{{ path('admin.admin_management.edit', {id: admin.id}) }}">Bearbeiten</a>
                        {% if admin.id != app.user.id %}
                            <a href="{{ path('admin.admin_management.delete', {id: admin.id}) }}"
                               onclick="return confirm('Soll der Benutzer wirklich gelöscht werden?')">Löschen</a>
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br/>

    {% if is_granted('ROLE_ADMIN_SUPER-ADMIN') %}
        <input type="button" onclick="document.location='{{ path('admin.admin_management.new') }}'"
               value="Neuer Administrator"/>
    {% endif %}
{% endblock %}
