{% extends 'admin/layout/admin.html.twig' %}

{% import 'admin/macros.html.twig' as macros %}

{% block content %}
    <h1>Datenbank</h1>
    <h2>Backups</h2>

    {% if successMessage|default(false) %}
        {{ macros.messagebox(successMessage, 'success') }}
    {% endif %}

    {% if errorMessage|default(false) %}
        {{ macros.messagebox(errorMessage, 'error') }}
    {% endif %}

    <form id="bustn" action="?page={{ page }}&amp;sub={{ sub }}" method="post">
        <fieldset><legend>Backup-Einstellungen</legend>
            Speicherpfad: <input type="text" value="{{ configValue('backup_dir') }}" name="backup_dir" size="50"> (leerlassen für Standardpfad)
            <br>
            Aufbewahrungsdauer: <input type="text" value="{{ configValue('backup_retention_time') }}" name="backup_retention_time" size="2"> Tage &nbsp; &nbsp;
            GZIP benutzen:
            <input type="radio" name="backup_use_gzip" value="1" {% if configValue('backup_use_gzip') == '1' %}checked="checked"{% endif %}> Ja
            <input type="radio" name="backup_use_gzip" value="0" {% if configValue('backup_use_gzip') == '0' %}checked="checked"{% endif %}> Nein
            <br>
            <input type="submit" value="Speichern" name="submit_changes">
        </fieldset>
    </form>

    <p>Im Folgenden sind alle verfügbaren Backups aufgelistet. Backups werden automatisch durch einen periodischen Task erstellt.</p>

    <form action="?page={{ page }}&amp;sub={{ sub }}" method="post">
        <p>
            <input type="submit" value="Neues Backup erstellen" name="create" />
        </p>
    </form>

    {% if backupDir %}
        <h3>Vorhandene Backups in {{ backupDir }}</h3>

        <table class="tb" style="width:auto;">
            <tr>
                <th>Name</th>
                <th>Erstellt</th>
                <th>Grösse</th>
                <th>Optionen</th>
            </tr>
            {% for backup in backups %}
                <tr>
                    <td>{{ backup.filename }}</td>
                    <td>{{ backup.createdAt }}</td>
                    <td>{{ backup.size }}</td>
                    <td>
                        <a href="?page={{ page }}&amp;sub=backup&amp;action=backuprestore&amp;date={{ backup.date }}" onclick="return confirm('Soll die Datenbank mit den im Backup {{ backup.date }} gespeicherten Daten überschrieben werden?');">Wiederherstellen</a> &nbsp;
                        <a href="{{ backup.downloadLink }}">Download</a>
                </td></tr>
            {% else %}
                <tr><td colspan="4"><i>Es sind noch keine Dateien vorhanden!</i></td></tr>
            {% endfor %}
        </table>
    {% else %}
        <h3>Vorhandene Backups</h3>
        {{ macros.messagebox(errorMessage, 'Das Backupverzeichnis wurde nicht gefunden!') }}
    {% endif %}
{% endblock %}
